<!-- ---
published: true
title: Development Tracker
--- -->
<div class="hero resize-static-headers">
    <div id="page-title" class="row">
        <div class="twelve columns">
            <img src="/images/cw_ukaid_logo.png" alt="UK aid from the British people">
            <div>
                <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/">Home</a></li>
                    <li class="govuk-breadcrumbs__list-item" aria-current="page">Accessibility Statement</li>
                </ol>
            </div>
                <h1>
                    Accessibility Statement
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        <h3>Accessibility statement for DevTracker</h3>
        <p>This website is run by the Department for International Development (DFID). We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>
        <ul class="pad-30">
            <li>change colours, contrast levels and fonts</li>
            <li>zoom in up to 500% without the text spilling off the screen</li>
            <li>navigate most of the website using just a keyboard</li>
            <li>navigate most of the website using speech recognition software</li>
            <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
        </ul>
        <p>We’ve also made the website text as simple as possible to understand.</p>
        <p><a href="https://mcmw.abilitynet.org.uk/" target="_BLANK">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>
        <h3>How accessible this website is</h3>
        <p>We know some parts of this website are not fully accessible:</p>
        <ul class="pad-30">
            <li>aid activity information and descriptions may not be written in a way that is easy to read</li>
            <li>documents attached to aid activities may not be accessible to screen reader software</li>
            <li>some graphics showing aid activity data do not have alternate text or captions</li>
            <li>some of our pages may be difficult to navigate without a mouse</li>
            <li>interactive maps on aid activity pages may not be accessible to screen reader software, or navigable without a mouse</li>
            <li>some tables may not be fully navigable without a mouse</li>
        </ul>
        <h3>What to do if you cannot access parts of this website</h3>
        <p>You can email <a href="mailto:website-team@dfid.gov.uk">website-team@dfid.gov.uk</a> if you need information on this website in a different format like:</p>
        <ul class="pad-30">
            <li>accessible PDF</li>
            <li>large print</li>
            <li>easy read</li>
            <li>audio recording</li>
            <li>braille</li>
        </ul>
        <p>We’ll consider your request and get back to you in 5 days.</p>
        <h3>Reporting accessibility problems with this website</h3>
        <p>We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, contact: <a href="mailto:website-team@dfid.gov.uk">website-team@dfid.gov.uk</a>.</p>
        <h3>Enforcement procedure</h3>
        <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/" target="_BLANK">contact the Equality Advisory and Support Service (EASS)</a>.</p>
        <h3>Technical information about this website’s accessibility</h3>
        <p>DFID is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
        <p>This website is partially compliant with the <a href="https://www.w3.org/TR/WCAG21/" target="_BLANK">Web Content Accessibility Guidelines version 2.1</a> AA standard, due to the non-compliances listed below.</p>
        <h3>Non accessible content</h3>
        <p>The content listed below is non-accessible for the following reasons.</p>
        <h3>Non compliance with the accessibility regulations</h3>
        <p>Some images, and the maps available on activity pages, do not have a text alternative, so people using a screen reader cannot access the information. This fails WCAG 2.1 success criterion 1.1.1 (non-text content).</p>
        <p>We plan to add text alternatives for all images by September 2020. When we publish new content we’ll make sure our use of images meets accessibility standards.</p>
        <h3>Disproportionate burden</h3>
        <p><b>Navigation and accessing information</b></p>
        <p>There’s no way to skip the repeated content in the page header (for example, a ‘skip to main content’ option). This fails WCAG 2.1 success criterion 2.4.1 (bypass blocks).</p>
        <p>There’s no way to skip the repeated content in the page header (for example, a ‘skip to main content’ option). This fails WCAG 2.1 success criterion 2.4.1 (bypass blocks).</p>
        <p>It’s not always possible to change the device orientation from horizontal to vertical without making it more difficult to view the content. This fails WCAG 2.1 success criterion 1.3.4 (orientation).</p>
        <p><b>Interactive tools and transactions</b></p>
        <p>Our maps are difficult to navigate using a keyboard. For example, because some form controls are missing a ‘label’ tag.</p>
        <p>Our maps are built and hosted through third party software and ‘skinned’ to look like our website. This fails WCAG 2.1 success criterion 1.3.1 (information and relationships).</p>
        <p>We’ve assessed the cost of fixing the issues with navigation and accessing information, and with interactive tools and transactions. We believe that doing so now would be a <a href="www.legislation.gov.uk/uksi/2018/952/regulation/7/made" target="_BLANK">disproportionate burden</a> within the meaning of the accessibility regulations. We will make another assessment in March 2020.</p>
        <h3>Content that’s not within the scope of the accessibility regulations</h3>
        <p><b>PDFs and other documents</b></p>
        <p>Many of our older PDFs and Word documents do not meet accessibility standards - for example, they may not be structured so they’re accessible to a screen reader. This does not meet WCAG 2.1 success criterion 4.1.2 (name, role value).</p>
        <p>The accessibility regulations <a href="www.legislation.gov.uk/uksi/2018/952/regulation/4/made" target="_BLANK">do not require us to fix PDFs or other documents published before 23 September 2018</a> if they’re not essential to providing our services. For example, we do not plan to fix project documents.</p>
        <h3>How we tested this website</h3>
        <p>This website was last tested on8 November 2019. The test was carried out by DFID.</p>
        <p>We tested every page type on DevTracker using <a href="https://wave.webaim.org/" target="_BLANK">WAVE</a>.</p>
        <h3>What we’re doing to improve accessibility</h3>
        <p>We are currently working  to continue to improve DevTrackers accessibility. In particular we are looking to engage our users more, to understand what remaining accessibility issues are affecting them most, so we can better prioritise.</p>
        <p>This statement was prepared on 11 November 2019. It was last updated on 11 November 2019.</p>
    </div>
</div>
