<!--
published: true
title: Development Tracker
 -->

<div id="page-title" class="row">
    <div class="twelve columns">
        <!-- <img src="/images/ukaid_logo.png" alt="UK aid from the British people"> -->
        <div>
            <div class="breadcrumb">
            <ul>
                <li><a href="/">Home</a></li>
                <li>Aid by Department</li>
            </ul>
        </div>
            <h1>
                UK Government Spend
            </h1>
        </div>
        
    </div>
</div>

<div class="row overview-text">
    <div class="twelve columns summary">
        <h2 class="visually-hidden">Documents</h2>
        <p>In the UK, the 0.7% commitment on ODA spend applies across government. DFID is the UK’s primary channel for aid but in response to the changing world, more aid is administered by other government departments, drawing on their complementary skills. To support the UK's cross government approach and to ensure a joined-up approach, there will also be several cross-government funds setup. Each departments is responsible for ensuring that their own ODA budgets are allocated optimally, spent well and published to IATI.</p>
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        <h3 class="section-group-title">Projects by UK Government Department</h3>
    </div>
</div>
<div id='aid-by-department' class="row top-5s">
  <div class="twelve columns ogd-row-space">
      <div class="three columns">
        <div class="logo dfid">
          <h1>
            <span class="organisation-logo uk-gov-logo organisation-logo-stacked-single-identity organisation-logo-stacked-single-identity-large">
              <span>Department<br>for International <br>Development</span>
            </span>
          </h1>
        </div>
        <span data-dept="DFID" class="ogd-title">Department for International Development</span>
      </div>
      <div class="three columns">
        <div class="logo fco">
          <h1>
            <span class="organisation-logo uk-gov-logo organisation-logo-stacked-single-identity organisation-logo-stacked-single-identity-large">
              <span>Foreign &amp;<br>Commonwealth <br>Office</span>
            </span>
          </h1>
        </div>
        <span data-dept="FCO" class="ogd-title">Foreign and Commonwealth Office</span>
      </div>
      <div class="three columns">
        <div class="logo dfbei">
          <h1>
            <span class="organisation-logo uk-gov-logo organisation-logo-stacked-single-identity organisation-logo-stacked-single-identity-large">
              <span>Department for<br>Business, Energy<br>&amp; Industrial Strategy</span>
            </span>
          </h1>
        </div>
        <span data-dept="BEIS" class="ogd-title">Department for Business, Energy and Industrial Strategy</span>
     </div>
      <div class="three columns">
        <div class="logo defra">
          <h1>
            <span class="organisation-logo uk-gov-logo organisation-logo-stacked-single-identity organisation-logo-stacked-single-identity-large">
              <span>Department<br>for Environment<br>Food &amp; Rural Affairs</span>
            </span>
          </h1>
        </div>
        <span data-dept="DEFRA" class="ogd-title">Department for Environment Food and Rural Affairs</span>
      </div>
  </div>
  <div class="twelve columns ogd-row-space">
      <div class="three columns">
        <div class="logo dfid">
          <h1>
            <span class="organisation-logo uk-gov-logo organisation-logo-stacked-single-identity organisation-logo-stacked-single-identity-large">
              <span>Conflict, <br>Stability and <br>Security Fund</span>
            </span>
          </h1>
        </div>
        <span data-dept="CSSF" class="ogd-title">Conflict, Stability and Security Fund</span>
      </div>
      <div class="three columns">
        <div class="logo ho">
          <h1>
            <span class="organisation-logo uk-gov-logo-ho organisation-logo-stacked-single-identity organisation-logo-stacked-single-identity-large">
              <span style="margin-top: 22px">Home Office</span>
            </span>
          </h1>
        </div>
        <span data-dept="HO" class="ogd-title">Home Office</span>
     </div>
      <div class="three columns">
        <div class="logo hmt">
          <h1>
            <span class="organisation-logo uk-gov-logo organisation-logo-stacked-single-identity organisation-logo-stacked-single-identity-large">
              <span style="margin-top: 22px">HM Treasury</span>
            </span>
          </h1>
        </div>
        <span data-dept="HMT" class="ogd-title">HM Treasury</span>
      </div>
      <div class="three columns">
        <div class="logo ddcm">
          <h1>
            <span class="organisation-logo uk-gov-logo organisation-logo-stacked-single-identity organisation-logo-stacked-single-identity-large">
              <span>Department for<br>Digital, Culture,<br>Media &amp; Sport</span>
            </span>
          </h1>
        </div>
        <span data-dept="DCMS" class="ogd-title">Department for Digital, Culture, Media and Sport</span>
      </div>
  </div>
  <div class="twelve columns ogd-row-space">
      <div class="three columns">
        <div class="logo dfid">
          <h1>
            <span class="organisation-logo uk-gov-logo organisation-logo-stacked-single-identity organisation-logo-stacked-single-identity-large">
              <span style="margin-top: 22px">Prosperity Fund</span>
            </span>
          </h1>
        </div>
        <span data-dept="PF" class="ogd-title">Prosperity Fund</span>
      </div>
      <div class="three columns">
        <div class="logo de">
          <h1>
            <span class="organisation-logo uk-gov-logo organisation-logo-stacked-single-identity organisation-logo-stacked-single-identity-large">
              <span style="margin-top: 12px">Department <br/> for Education</span>
            </span>
          </h1>
        </div>
        <span data-dept="DFE" class="ogd-title">Department for Education</span>
     </div>
      <div class="three columns">
        <div class="logo dfwp">
          <h1>
            <span class="organisation-logo uk-gov-logo organisation-logo-stacked-single-identity organisation-logo-stacked-single-identity-large">
              <span>Department<br/>for Work &amp;<br/>Pensions</span>
            </span>
          </h1>
        </div>
        <span data-dept="DWP" class="ogd-title">Department for Work &amp; Pensions</span>
      </div>
      <div class="three columns">
        <div class="logo dhsc">
          <h1>
            <span class="organisation-logo uk-gov-logo organisation-logo-stacked-single-identity organisation-logo-stacked-single-identity-large">
              <span>Department<br>of Health &amp;<br>Social Care</span>
            </span>
          </h1>
        </div>
        <span data-dept="DH" class="ogd-title">Department of Health &amp; Social Care</span>
      </div>
  </div>
  <div class="twelve columns ogd-row-space">
      <div class="three columns">
        <div class="logo hmrc">
          <h1>
            <span class="organisation-logo uk-gov-logo-hmrc organisation-logo-stacked-single-identity organisation-logo-stacked-single-identity-large">
              <span style="margin-top: 12px">HM Revenue <br/>&amp; Customs</span>
            </span>
          </h1>
        </div>
        <span data-dept="HMRC" class="ogd-title">HM Revenue and Customs</span>
      </div>
      <div class="three columns">
        <div class="logo mod">
          <h1>
            <span class="organisation-logo uk-gov-logo-mod organisation-logo-stacked-single-identity organisation-logo-stacked-single-identity-large">
              <span style="margin-top: 12px">Ministry <br/> of Defence</span>
            </span>
          </h1>
        </div>
        <span data-dept="MOD" class="ogd-title">Ministry of Defence</span>
     </div>
      <div class="three columns">
        <div class="logo ef">
          <h1>
            <span class="organisation-logo uk-gov-logo-ef organisation-logo-stacked-single-identity organisation-logo-stacked-single-identity-large">
              <span style="margin-top: 12px">UK Export<br/>Finance</span>
            </span>
          </h1>
        </div>
        <span data-dept="UKEF" class="ogd-title">UK Export Finance</span>
      </div>
      <div class="three columns">
        <div class="logo cdc">
          <h1>
            <span class="organisation-logo uk-gov-logo-cdc organisation-logo-stacked-single-identity organisation-logo-stacked-single-identity-large">
            </span>
          </h1>
        </div>
        <span data-dept="CDC" class="ogd-title">CDC Group PLC</span>
      </div>
  </div>
  <div class="twelve columns ogd-row-space">
      <div class="three columns">
        <div class="logo ons">
          <h1>
            <span class="organisation-logo uk-gov-logo-ons organisation-logo-stacked-single-identity organisation-logo-stacked-single-identity-large">
            </span>
          </h1>
        </div>
        <span data-dept="ONS" class="ogd-title">Office for National Statistics</span>
      </div>
      <div class="three columns">
        <div class="logo mrc">
          <h1>
            <span class="organisation-logo uk-gov-logo-mrc organisation-logo-stacked-single-identity organisation-logo-stacked-single-identity-large">
            </span>
          </h1>
        </div>
        <span data-dept="MRC" class="ogd-title">Medical Research Council</span>
      </div>
      <div class="three columns">
      </div>
      <div class="three columns">
      </div>
  </div>
</div>
<div class="row" style="margin-top: 20px">
    <div class="twelve columns">
        <h3 class="section-group-title">UK ODA by Government Department in 2017*</h3>
        <table class="transactions-table oda-table" style="width:100%">
          <tbody>
            <thead>
              <th></th>
              <th style="border-left: 1px solid rgb(218, 218, 218)">£m</th>
              <th style="border-left: 1px solid rgb(218, 218, 218)">% UK ODA</th>
            </thead>
            <% odas.each do |oda| %>
              <tr>
                <td><%= oda[1][0]["name"] %></td>
                <% if oda[1][0]["value"] >= 0 %>
                  <td style="border-left: 1px solid rgb(218, 218, 218)"><span><%= oda[1][0]["value"].to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %></span>
                  <!-- <td style="border-left: 1px solid rgb(218, 218, 218)"><%#= ((oda[1][0]["value"].to_f / totalOdaValue.to_f)*100.0).round(1) %>%</td> -->
                  <td style="border-left: 1px solid rgb(218, 218, 218)"><%= oda[1][0]["percentage"] %>%</td>
                <%else%>
                  <td style="border-left: 1px solid rgb(218, 218, 218)">~</td>
                  <td style="border-left: 1px solid rgb(218, 218, 218)">0.0%</td>
                <%end%>
              </tr>
            <% end %>
          </tbody>
        </table>
        <span style="color: silver">Source: <a target="_BLANK" href="http://2017https/www.gov.uk/government/statistics/statistics-on-international-development-2017">Statistics on International Development</a></span>
    </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.logo').click(function(){
      window.location.href = '/department/' + $(this).parent().children('.ogd-title').data('dept');
    });
    $('.ogd-title').click(function(){
      window.location.href = '/department/' + $(this).data('dept');
    });
  });
</script>