<div class="row">
    <div class="twelve columns">
        <div class="tab-bar-container">
            <div class="row">
                <div class="projects-nav six columns">
                    <p>Programme Level</p>
                    <nav>
                        <ul class="tab-bar">
                            <li <%= active=="country" ? "class='active'" : ""%>><a href="/location/country">Current <span>Programmes</span></a></li>
                            <li <%= active=="regional" ? "class='active'" : ""%>><a href="/location/regional">Regional <span>Programmes</span></a></li>
                            <li <%= active=="global" ? "class='active'" : ""%>><a href="/location/global">Global <span>Programmes</span></a></li>
                        </ul>
                    </nav>
                </div>          

                <div class="button-row six columns">
                    <span>
                        <a id='Subscribe' href="https://public.govdelivery.com/accounts/UKDFID/subscriber/new" title="Subscribe to receive updates on countries by email" class="button inform">&#9993; Subscribe</a>
                    </span>
                </div>  
            </div> 
        </div>
    </div>
</div>