<div class="app-news">
    <article class="app-news__article">
        <a href="/press-releases/01"><img src="/assets/images/press-releases/press-release-1.jpg" class="app-news__article--image govuk-!-margin-bottom-2" alt="FCDO"></a>
        <span class="govuk-caption-m">02 January 2023</span>
        <p class="govuk-body govuk-!-margin-top-2"><a href="#" class="govuk-link">First UK maritime shipment of lifesaving aid for Gaza arrives in Egypt.</a></p>
    </article>
    <article class="app-news__article">
        <a href="#"><img src="/assets/images/press-releases/press-release-2.jpg" class="app-news__article--image govuk-!-margin-bottom-2" alt="FCDO"></a>
        <span class="govuk-caption-m">02 January 2023</span>
        <p class="govuk-body govuk-!-margin-top-2"><a href="#" class="govuk-link">First UK maritime shipment of lifesaving aid for Gaza arrives in Egypt.</a></p>
    </article>
<article class="app-news__article">
        <a href="#"><img src="/assets/images/press-releases/press-release-3.jpg" class="app-news__article--image govuk-!-margin-bottom-2" alt="FCDO"></a>
        <span class="govuk-caption-m">02 January 2023</span>
        <p class="govuk-body govuk-!-margin-top-2"><a href="#" class="govuk-link">First UK maritime shipment of lifesaving aid for Gaza arrives in Egypt.</a></p>
    </article>    
</div>