<div class="app-top6-stats__data">
    <span class="govuk-caption-m app-top6-stats__data--caption"><%= result['title']%></span>
    <h1 class="govuk-heading-xl app-top6-stats__data--value"><%= convert_numbers_to_human_readable_format(result['totals'])%></h1>
</div>
<div class="app-top6-stats__source govuk-caption-m govuk-!-font-size-14">2015 - 2020 <a target="_BLANK" href="https://www.gov.uk/government/publications/dfid-results-estimates-2015-to-2020" rel="external" class="govuk-link">Source Information</a></div>