<div class="row">
    <div class="twelve columns content">
        <h2 class="section-group-title">Sector Breakdown</h2>
        <div class="row">
            <div class="twelve columns">
                <p>Budget data comparison between live OIPA and solr end point data for country</p>
            </div>
            <div class="twelve columns">
                <table>
                    
                </table>
            </div>
        </div>

    </div>
</div>