
<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="ie6"> <![endif]-->
<!--[if IE 7]>         <html class="ie7"> <![endif]-->
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="en">         <!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <meta name="description" content="The Development Tracker uses open data on international development published in the International Aid Transparency Initiative (IATI) open data standard by the UK Government and partners to show where the UK is investing in developing countries." />
    <title>DevTracker <%= settings.devtracker_page_title %></title>

  
    <!--[if IE 8]>
    <script type="text/javascript">
      (function(){if(window.opera){return;}
      setTimeout(function(){var a=document,g,b={families:(g=
      ["nta"]),urls:["/stylesheets/fonts-ie8.css]},
      c="javascripts/webfont-debug.js,d="script",
      e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
      ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h--;a.documentElement
      .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
      })()
    </script>
    <![endif]-->
    <!--[if gte IE 9]><!--><link href="/stylesheets/fonts.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->


    <script src="/javascripts/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="/javascripts/js.cookie.min.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
      <script src="/javascripts/ie-compat.js?1435740689" type="text/javascript"></script>
    <![endif]-->
    <script src="/javascripts/d3.v3.js" type="text/javascript"></script>
    <script src="/javascripts/c3.min-12912fb6.js" type="text/javascript"></script>
   <!-- <script type="text/javascript" src="http://c3js.org/js/c3.min-12912fb6.js"></script> -->
    <script src="/javascripts/jquery.expander.js" type="text/javascript"></script>
    <script src="/javascripts/design-custom.js" type="text/javascript"></script>
    <script type="text/javascript" src="/javascripts/readMoreJS.min.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link href="/stylesheets/foundation.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/aip-styles.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/graph-styles.css" media="screen" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/gds.css">
    <link href="/stylesheets/main.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/c3-b03125fa.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/new_layout.css" media="screen" rel="stylesheet" type="text/css" />
    <!-- <link href="/stylesheets/new-styles.css" media="screen" rel="stylesheet" type="text/css" /> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link type="image/x-icon" href="https://assets.digital.cabinet-office.gov.uk/static/favicon-8d811b8c3badbc0b0e2f6e25d3660a96cc0cca7993e6f32e98785f205fc40907.ico" rel="shortcut icon" />
    <script src="/javascripts/jquery.scrollUp.min.js" type="text/javascript"></script>
    <script src="https://kit.fontawesome.com/f66f68bd8d.js" crossorigin="anonymous"></script>
   <!--  <script>  
        jQuery(function(){
          jQuery('.more-info-link').click( function(){
              jQuery('#moreinfo'+$(this).attr('target')).toggle();
           }); 
         });  
    </script> -->
    <script> 
      $(document).ready(function() {
        $('#IncludeClosedProjects').change(function(){
          if(this.checked){
            $('#includeClosed').val('1');
          }
          else{
            $('#includeClosed').val('0'); 
          }
        });

        $(".more-info-link").click(function(e){
          e.stopPropagation();
          $(this).parent().children('aside').toggle();
          //$("#moreinfo"+$(this).attr('target')).toggle();
        });

        $(".more-info").on('click', function(e){
          e.stopPropagation();
        });

        $(document).on('click', function(e){
          $(".more-info").hide(); 
        });
        $.scrollUp({
          scrollName: 'scrollUp',
          scrollFrom: 'top'           // 'top' or 'bottom'

        });
        $('#scrollUp').hover(function(){
          $('#scrollUp').stop();
          $('#scrollUp').animate({
            paddingBottom: 30
          });
        },function(){
          $('#scrollUp').stop();
          $('#scrollUp').animate({
            paddingBottom: 10
          });
        });
        //This stores the base url inside a global variable so that we can make the oipa calls through the varnish
        //var tempGetUrl = window.location;
        //window.baseUrl = tempGetUrl.protocol + "//" + tempGetUrl.host + "/" + "api/";
        //window.baseUrl = 'http://staging-dfid.oipa.nl/api/';
        //window.baseUrl = '<%#= oipa_api_url %>';

        <% if oipa_api_url.include? "127.0.0.1" %>
          var tempGetUrl = window.location;
          window.baseUrl = tempGetUrl.protocol + "//" + tempGetUrl.host + "/" + "api/";
        <% else %>
          window.baseUrl = '<%= oipa_api_url %>';
        <%end%>
        $('#search').submit(function(){
            $('.modal_free_text_search').show();
            setTimeout(patience,10000);
            setTimeout(patience_second_level,20000);
          });
          var patience = function(){
            $('.modal_free_text_search div').html('<div>Still Searching... <br /> Please Wait<br /><br /><br /><br /><br /></div>');
          };
          var patience_second_level = function(){
            $('.modal_free_text_search div').html('<div>The search is taking longer than expected.<br> Would you like to <span><a href="#" class="cancel_form_submission">cancel</a></span> the search or wait?<br/><br/><br/><br/><br/><br/><br/></div>');
          };
          $('.modal_free_text_search').click(function(){
            window.stop();
            $(this).hide();
            $('.modal_free_text_search div').html('<div>Searching...<br /><br /><br /><br /></div>');
          });
      });
    </script>
    <link rel="apple-touch-icon" href="/images/ios/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/images/ios/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/images/ios/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/images/ios/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/images/ios/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/images/ios/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/images/ios/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/images/ios/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/ios/apple-touch-icon-180x180.png" />
  </head>
  <body>
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a href="#content" class="visually-hidden">Go to main content</a>
    <header role="banner" id="global-header">
      <div class="row">
        <div class="twelve columns">
          <h2><a href="/" title="Go to the homepage">Development Tracker</a></h2>
          <form id="search" class="site-search" action="/search" method="POST" role="search">
            <label for="site-search-text" class="visually-hidden">Search</label>
            <input type="search" name="query" id="site-search-text" title="Search"><input class="button" type="submit" value="Search">
            <input name="includeClosed" type="hidden" value="0">
          </form>
        </div>
      </div>
    </header>

    <div id="content" class="page-wrapper">
      <div class="row">
        <div class="twelve columns" id="whatsnew-banner">
          <p>
            <span>FCDO ODA allocations for 2021/22 were announced on 21 April 2021. Changes to individual programmes are underway. The information on this website may not reflect the latest allocated budgets for this year. This information will be updated in due course.</span>
          </p>
        </div>
      </div>
               <%= yield %>
               <div id="toTop"></div>
               <!-- <div class="modal">
                    <div><div>Loading Data <br> Please Wait</div></div>
                </div> -->
                <div class="modal_free_text_search">
                    <div><div>Searching...<br /><br /><br /><br /></div></div>
                </div>
    </div><!-- end page-wrapper -->  
    
    <footer class="govuk-footer" role="contentinfo">
      <div class="govuk-width-container ">
        <div class="govuk-footer__meta">
          <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
            <h2 class="govuk-visually-hidden">Support links</h2>
            <ul class="govuk-footer__inline-list">
              <li class="govuk-footer__inline-list-item">
                <a class="govuk-footer__link" href="/about">
                  About
                </a>
              </li>
              <li class="govuk-footer__inline-list-item">
                <a class="govuk-footer__link" href="/accessibility-statement">
                  Accessibility Statement
                </a>
              </li>
              <li class="govuk-footer__inline-list-item">
                <a class="govuk-footer__link" href="/custom-codes">
                  Custom Codes
                </a>
              </li>
              <li class="govuk-footer__inline-list-item">
                <a class="govuk-footer__link" href="/faq">
                  Glossary
                </a>
              </li>
              <li class="govuk-footer__inline-list-item">
                <a target="_BLANK" class="govuk-footer__link" href="mailto:reportingconcerns@fcdo.gov.uk">
                  Report Concerns
                </a>
              </li>
              <li class="govuk-footer__inline-list-item">
                <a target="_BLANK" class="govuk-footer__link" href="https://www.gov.uk/government/organisations/foreign-commonwealth-development-office">
                  Contact Us
                </a>
              </li>
            </ul>
            <div class="govuk-footer__meta-custom">
              The website uses <a target="_BLANK" class="govuk-footer__link" href="/cookies">Cookies</a>. Data on this website is available for reuse under the <a class="govuk-footer__link" href="http://www.nationalarchives.gov.uk/doc/open-government-licence/" rel="license">Open Government Licence</a>
            </div>
            <svg aria-hidden="true" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 483.2 195.7" height="17" width="41">
              <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145" />
            </svg>
            <span class="govuk-footer__licence-description">
              All content is available under the
              <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
            </span>
          </div>
          <div class="govuk-footer__meta-item">
            <a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>
    <div id="cookieDiv">
      <!-- <button style="display: flex; position: absolute; top: 16px; right: 16px " id="closeCookie">Close</button> -->
      <div id="cookieContent">
        <h1>This site uses cookies</h1>
        <div>
          We use Google Analytics to measure how you use the website so we can improve it based on user needs. Google Analytics sets cookies that store anonymised information about how you got to the site, the internal pages you visit, how long you spend on each page and what you click on while you're visiting the site. <a href="/cookies">Read more</a>
        </div>
        <hr />
        <button id="acceptCookie">Accept</button>
        <button id="rejectCookie">Reject</button>
      </div>
    </div>
    <%if request.cookies['accept_cookie'].nil? %>
      <script>
        $(document).ready(function() {
          function clearCookies(){
            var cookies = document.cookie.split("; ");
            for (var c = 0; c < cookies.length; c++) {
                var d = window.location.hostname.split(".");
                while (d.length > 0) {
                    var cookieBase = encodeURIComponent(cookies[c].split(";")[0].split("=")[0]) + '=; expires=Thu, 01-Jan-1970 00:00:01 GMT; domain=' + d.join('.') + ' ;path=';
                    var p = location.pathname.split('/');
                    document.cookie = cookieBase + '/';
                    while (p.length > 0) {
                        document.cookie = cookieBase + p.join('/');
                        p.pop();
                    };
                    d.shift();
                }
            }
          };
          $('#cookieDiv').slideDown('slow');
          $('#acceptCookie').click(function(){
            Cookies.set('accept_cookie', 1, { expires: 90 });
            $.getScript("/javascripts/analytics.js")
            $('#cookieDiv').slideUp();
          });
          // $('#closeCookie').click(function(){
          //   $('#cookieDiv').slideUp();
          // });
          $('#rejectCookie').click(function(){
            clearCookies();
            Cookies.set('accept_cookie', 0, { expires: 90 });
            $('#cookieDiv').slideUp();
          });
        });
      </script>
    <%elsif request.cookies['accept_cookie'] == '1'%>
      <%puts('working fine................')%>
      <%= erb :'partials/_analytics'%> 
    <%end%>
    <!-- <%#=DateTime.now%> -->
  </body>
</html>