<div class="hero hero-notabs">
    <div id="page-title" style="height: 100px" class="row">
        <div class="twelve columns">
           <img src="/images/cw_ukaid_logo.png" alt="UK aid from the British people">
       </div>
    </div>
</div>

<div class="row">
    <div class="six columns">
        <img src="/images/404-error.png" alt="">
    </div>
    <div class="six columns">
        <h2>Sorry, something went wrong.</h2>

        <p>
            You can <strong>use the search above</strong> to find a project or you can always go <a href="/">back to the home page</a> and start again.
        </p>
    </div>
</div>

