<div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Sorry, there is a problem with this page</h1>
        <p class="govuk-body">Try again later or go back to the <a href="/">home page</a>.</p>
    </div>
</div>
