<!--
published: "true"
title: Development Tracker
layout: landing

-->

<div class="row">
    <div class="ten columns">
        <h3 style="font-size: 2em; line-height: 2.5em;">Follow how the UK invests in developing countries</h3>
    </div>
    <div class="two columns" style="text-align:right;">
        <img style="margin-top:20px;" src="/images/ukaid_logo.png" alt="UK aid from the British people">
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        <div id="search-bar">
            <form action="/search_p" method="GET">
                <div class="row">
                    <div class="three columns">
                        <label for="query">
                            <h3 style="line-height:2em;">Search Projects</h3>
                        </label>
                    </div>
                    <div class="nine columns">
                        <div class="row">
                            <div class="eight columns">
                                <div class="row">
                                    <div class="twelve columns">
                                        <input id="query" name="query" type="text" placeholder="e.g. location, sector, organisation or keyword" value="">
                                    </div>
                                    <div class="twelve columns" style="text-align: left; display: none">
                                        <input id="IncludeClosedProjects" style="margin-top: 10px; margin-bottom: 10px" type="checkbox"><label for="IncludeClosedProjects">Include Completed Projects</label>
                                        <input id="includeClosed" name="includeClosed" type="hidden" value="0">
                                    </div>
                                </div>
                            </div>
                            <div class="four columns">
                                <input type="submit" value="Search" class="button">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<nav>
    <div class="row" id="nav-entry">
        <div class="six columns col">
            <p>
                <a href="/location/country" class="by-location">
                    <span class="image-wrapper">
                        <img src="/images/by-location.gif" alt="Aid by Location">
                    </span>
                    <span class="link-wrapper"><small>Explore aid by</small> Location</span>
                </a>
            </p>
        </div>
        <div class="six columns col">
            <p>
                <a href="/sector" class="by-sector">
                    <span class="image-wrapper">
                        <img src="/images/by-sector.gif" alt="Aid by Sector">
                    </span>
                    <span class="link-wrapper"><small>Explore aid by</small> Sector</span>
                </a>
            </p>

        </div>
    </div>
</nav>

<h1>Friends</h1>
<ol>
  <% data.countries.countries.each do |f| %>
  <li><%= f %></li>
  <% end %>
</ol>


</div>
