// AUTOCOMPLETE SEARCH
header {
     #autocomplete_result {
          a {
               span {
                    &.icon_flag {
                         &.Afghanistan {
                              background: url("../images/flags/Afghanistan.png") no-repeat 50% 50%;
                              background-size: contain;
                         }
                         &.Albania {
                              background: url("../images/flags/Albania.png") no-repeat 50% 50%;
                              background-size: contain;
                         }
                         &.Angola {
                              background: url("../images/flags/Angola.png") no-repeat 50% 50%;
                              background-size: contain;
                         }
                         &.Argentina {
                              background: url("../images/flags/Argentina.png") no-repeat 50% 50%;
                              background-size: contain;
                         }
                         &.Armenia {
                              background: url("../images/flags/Armenia.png") no-repeat 50% 50%;
                              background-size: contain;
                         }
                         &.Azerbaijan {
                              background: url("../images/flags/Azerbaijan.png") no-repeat 50% 50%;
                              background-size: contain;
                         }
                         &.Bangladesh {
                              background: url("../images/flags/Bangladesh.png") no-repeat 50% 50%;
                              background-size: contain;
                         }
                         &.Belarus {
                              background: url("../images/flags/Belarus.png") no-repeat 50% 50%;
                              background-size: contain;
                         }
                         &.Belize {
                              background: url("../images/flags/Belize.png") no-repeat 50% 50%;
                              background-size: contain;
                         }
                         &.Benin {
                              background: url("../images/flags/Benin.png") no-repeat 50% 50%;
                              background-size: contain;
                         }
                         &.Bhutan {
                              background: url("../images/flags/Bhutan.png") no-repeat 50% 50%;
                              background-size: contain;
                         }
                         &.Bolivia {
                              background: url("../images/flags/Bolivia.png") no-repeat 50% 50%;
                              background-size: contain;
                         }
                         &.Bosnia_and_Herzegovina {
                              background: url("../images/flags/Bosnia_and_Herzegovina.png") no-repeat 50% 50%;
                              background-size: cover;
                         }
                         &.Botswana {
                              background: url("../images/flags/Botswana.png") no-repeat 50% 50%;
                              background-size: cover;
                         }
                         &.Brazil {
                              background: url("../images/flags/Brazil.png") no-repeat 50% 50%;
                              background-size: cover;
                         }
                         &.Burkina_Faso {
                              background: url("../images/flags/Burkina_Faso.png") no-repeat 50% 50%;
                              background-size: cover;
                         }
                         &.Burundi {
                              background: url("../images/flags/Burundi.png") no-repeat 50% 50%;
                              background-size: cover;
                         }
                         &.Cambodia {
                              background: url("../images/flags/Cambodia.png") no-repeat 50% 50%;
                              background-size: cover;
                         }
                         &.Cameroon {
                              background: url("../images/flags/Cameroon.png") no-repeat 50% 50%;
                              background-size: cover;
                         }
                         &.Canada {
                              background: url("../images/flags/Canada.png") no-repeat 50% 50%;
                              background-size: cover;
                         }
                         &.Cape_Verde {
                              background: url("../images/flags/Cape_Verde.png") no-repeat 50% 50%;
                              background-size: cover;
                         }
                         &.Central_African_Republic {
                              background: url("../images/flags/Central_African_Republic.png") no-repeat 50% 50%;
                              background-size: cover;
                         }
                         &.Chad {
                              background: url("../images/flags/Chad.png") no-repeat 50% 50%;
                              background-size: cover;
                         }
                         &.China {
                              background: url("../images/flags/China.png") no-repeat 50% 50%;
                              background-size: cover;
                         }
                         &.Colombia {
                              background: url("../images/flags/Colombia.png") no-repeat 50% 50%;
                              background-size: cover;
                         }
                         &.Comoros {
                              background: url("../images/flags/Comoros.png") no-repeat 50% 50%;
                              background-size: cover;
                         }
                         &.Congo {
                              background: url("../images/flags/Congo.png") no-repeat 50% 50%;
                              background-size: cover;
                         }
                         &.Congo_Democratic_Republic {
                              background: url("../images/flags/Congo_Democratic_Republic.png") no-repeat 50% 50%;
                              background-size: cover;
                         }










                         &.Ethiopia {
                              background: url("../images/flags/Ethiopia.png") no-repeat 50% 50%;
                              background-size: cover;
                         }
                         &.Ukraine {
                              background: url("../images/flags/Ukraine.png") no-repeat 50% 50%;
                              background-size: cover;
                         }
                         &.Yemen {
                              background: url("../images/flags/Yemen.png") no-repeat 50% 50%;
                              background-size: cover;
                         }
                    }
               } 
          }
     }
}