---
title: Development Tracker
---

<%= erb :'partials/_projects-header', :locals => { :project => project, :active => "summary"} %>


<% #transactions.sort_by { | tx | -tx['transaction_date'] }.select {|group| group['transaction_type']['code'] == 'D' }.each do |commitment| %>

<% transactions.select {|group| group['transaction_type']['code'] == 'D' }.each do |commitment| %>


<% #transactions.each do |commitment| %>
<div class="row">
    <div class="twelve columns summary">
        <table>
            <tr>
            	<td><%= commitment['transaction_type']['code'] %></td>
            	<td><%= commitment['value_date'] %></td>
            	<td><%= commitment['value'] %></td>
            </tr>
        </table>
    </div>
</div>

<% end %>



