<!-- ---
title: Development Tracker
--- -->
<div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/">Home</a></li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">DevTracker - Privacy Policy</li>
    </ol>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">DevTracker - Privacy Policy</h1>
        <p class="govuk-body"><span class="govuk-caption-m govuk-!-margin-bottom-1">Last updated: 28/10/2022</span>This privacy notice is for visitors to the devtracker.fcdo.gov.uk (DevTracker) website.</p>
        <h2 class="govuk-heading-m">What data is displayed on DevTracker</h4>
        <p class="govuk-body">DevTracker uses open data published by UK government departments and partners, using the <a target="_blank" href="https://iatistandard.org/" class="govuk-link">International Aid Transparency Initiative (IATI) standard</a>. IATI is an international standard for international development data and allows ready comparison of information from different donors.</p>
        <p class="govuk-body">Each organisation is responsible for its own published IATI data and DevTracker will reflect public data available in the IATI Registry.</p>
        <p class="govuk-body">If you have any concerns about data on the DevTracker website, please contact <a href="mailto:iati-feedback@fcdo.gov.uk" class="govuk-link">iati-feedback@fcdo.gov.uk</a></p>
        <h2 class="govuk-heading-m">What data we collect</h4>
        <p class="govuk-body">We collect information about how you use the DevTracker website to help us improve the site and make sure it is meeting the needs of its users.</p>
        <p class="govuk-body">We collect information on:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>The pages you visit</li>
            <li>How long you spend on each page</li>
            <li>How you got to the site</li>
            <li>What you click on while you are visiting the site</li>
            <li>How you interact with a page</li>
            <li>Your Internet Protocol (IP) address</li>
        </ul>
        <h2 class="govuk-heading-m">Google Analytics and Hotjar</h4>
        <p class="govuk-body">We use cookies through software (Google Analytics and Hotjar) to collect this information.</p>
        <p class="govuk-body">We do not store your personal information through Google Analytics or Hotjar (for example, your name or address). We do not allow Google Analytics or Hotjar to use or share data about how you use the site. We will not identify you through analytics information, and we will not combine analytics information with other datasets in a way that would identify who you are.</p>
        <p class="govuk-body">More details about the information we collect is available in our <a target="_blank" href="https://devtracker.fcdo.gov.uk/cookies" class="govuk-link">Cookies policy</a>. This includes information on how to remove yourself from tracking.</p>
        <h2 class="govuk-heading-m">Why we need your data</h4>
        <p class="govuk-body">We collect anonymised information through Google Analytics and Hotjar to help:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>Make sure the site is meeting the needs of its users</li>
            <li>Make improvements to the website</li>
        </ul>
        <h2 class="govuk-heading-m">Our legal basis for processing your data</h4>
        <p class="govuk-body">The legal basis for processing anonymised data for Google Analytics and Hotjar is your consent.</p>
        <h2 class="govuk-heading-m">What we do with your data</h4>
        <p class="govuk-body">The data we collect may be shared with our technology suppliers, for example, our hosting provider.</p>
        <p class="govuk-body">We will not:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>Sell or rent your data to third parties</li>
            <li>Share data with third parties for marketing purposes</li>
        </ul>
        <h2 class="govuk-heading-m">How long we keep your data</h4>
        <p class="govuk-body">We will only retain your website analytics data for 12 months, after which it will be deleted.</p>
        <h2 class="govuk-heading-m">Where your data are processed and stored</h4>
        <p class="govuk-body">We design, build and run our systems to make sure that your data are as safe as possible at all stages, both while they are processed and when they are stored.</p>
        <p class="govuk-body">All personal data are stored in the <a target="_blank" href="https://www.gov.uk/eu-eea" class="govuk-link">European Economic Area</a> (EEA). Data collected by Google Analytics and Hotjar may be transferred outside the EEA for processing.</p>
        <h2 class="govuk-heading-m">How we protect your data and keep it secure</h4>
        <p class="govuk-body">We are committed to doing all that we can to keep your data secure. We make sure that any third parties that we deal with keep all personal data they process on our behalf secure.</p>
        <h2 class="govuk-heading-m">Your rights</h4>
        <p class="govuk-body">You have the right to request:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>Information about how your personal data are processed</li>
            <li>A copy of that personal data</li>
            <li>That anything inaccurate in your personal data is corrected</li>
        </ul>
        <h2 class="govuk-heading-m">You can also:</h4>
        <ul class="govuk-list govuk-list--bullet">
            <li>Raise an objection about how your personal data are processed</li>
            <li>Request that your personal data are erased if there is no longer a justification for it</li>
            <li>Ask that the processing of your personal data is restricted in certain circumstances</li>
        </ul>
        <p class="govuk-body">If you have any of these requests, please contact <a href="mailto:Data.Protection@fcdo.gov.uk" class="govuk-link">Data.Protection@fcdo.gov.uk</a>.</p>
        <h2 class="govuk-heading-m">Data from other organisations</h4>
        <p class="govuk-body">This site displays data published by other organisations. The FCDO is not responsible for the privacy practices or content of these organisations’ data.</p>
        <h2 class="govuk-heading-m">Following a link to DevTracker from another website</h4>
        <p class="govuk-body">If you come to DevTracker from another website, we may receive personal information from the other website. You should read the privacy policy of the website you came from to find out more about this.</p>
        <h2 class="govuk-heading-m">Contact us</h4>
        <p class="govuk-body">Contact the Data Protection Officer (DPO) if you:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>Have a question about anything in this privacy notice</li>
            <li>Think that your personal data have been misused or mishandled</li>
        </ul>
        <p class="govuk-body">
            <span class="govuk-!-font-weight-bold">Email:</span> <a href="mailto:Data.Protection@fcdo.gov.uk" class="govuk-link">Data.Protection@fcdo.gov.uk</a>
            <br><span class="govuk-!-font-weight-bold">Telephone:</span> 020 7008 5000
        </p>
        <p class="govuk-body">
            <span class="govuk-!-font-weight-bold">Data Protection Officer</span> <br>
            Information Management Department <br>
            Information and Digital Directorate <br>
            Room K4.04 <br>
            Foreign, Commonwealth & Development Office <br>
            King Charles Street <br>
            London <br>
            SW1A 2AH <br>
        </p>
        <h2 class="govuk-heading-m">Changes to this policy</h4>
        <p class="govuk-body">The “Last updated” date at the top of this page will change when any parts of this policy are updated. Any changes will apply to you and your data immediately.</p>
        <%# <p class="govuk-body">Cookies are files saved on your phone, tablet or computer when you visit a website.</p>
        <p class="govuk-body">We use cookies to store information about how you use the devtracker.fcdo.gov.uk website, such as the pages you visit.</p>
        <h2 class="govuk-heading-m">Cookie Settings</h4>
        <p class="govuk-body">We use one type of cookie. You can choose whether you are happy for us to use this type of cookie.</p>
        <h2 class="govuk-heading-m">Cookies that measure website use</h4>
        <p class="govuk-body">We use Google Analytics and Hotjar to measure how you use the website so we can improve it based on user needs. Google Analytics and Hotjar set cookies that store anonymised information about:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>How you got to the site</li>
            <li>The pages you visit on devtracker.fcdo.gov.uk and how long you spend on each page</li>
            <li>What you click on while you are visiting the site</li>
            <li>The way in which you interact with a page</li>
        </ul>
        <p class="govuk-body">We do not allow Google or Hotjar to use or share the data about how you use this site. For further details, please see <a target="_BLANK" href="https://policies.google.com/privacy" class="govuk-link">Google Privacy Policy</a> and <a target="_BLANK" href="https://www.hotjar.com/privacy" class="govuk-link">Hotjar's Privacy Policy</a></p>
        <p class="govuk-body">To opt-out of cookies set by Google, select “Off” below. To remove Hotjar tracking, please follow instructions <a href="https://www.hotjar.com/policies/do-not-track/" class="govuk-link" target="_BLANK">here</a>.</p> %>        
    </div>
<div>