<!-- ---
title: Development Tracker
--- -->
<div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/">Home</a></li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">DevTracker - Privacy Notice</li>
    </ol>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">DevTracker - Privacy Notice</h1>
        <p class="govuk-body"><span class="govuk-caption-m govuk-!-margin-bottom-1">Last updated: 31/12/2025</span>This privacy notice is for visitors to the devtracker.fcdo.gov.uk (DevTracker) website.</p>
        <h2 class="govuk-heading-m">What a Privacy Notice is</h4>
        <p class="govuk-body">The General Data Protection Regulation requires that data controllers provide information to people whose personal information they process. Processing information means how we use it, store it, and share it, how long we keep it and how we destroy it.</p>
        <p class="govuk-body">This Privacy Notice includes:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>Who we are</li>
            <li>What information we collect about you and how</li>
            <li>How we use your information</li>
            <li>Why we collect personal information about you</li>
            <li>Who we share your information with and why</li>
            <li>Our lawful basis for processing</li>
            <li>How long we keep your personal information for</li>
            <li>Your rights</li>
            <li>How to contact us</li>
            <li>How to make a complaint</li>
        </ul>
        <h2 class="govuk-heading-m">Who we are</h4>
        <p class="govuk-body">The Foreign, Commonwealth and Development Office (FCDO) pursues our national interests and projects the UK as a force for good in the world. We promote the interests of British citizens, safeguard the UK’s security, defend our values, reduce poverty and tackle global challenges with our international partners. To do this effectively we must collect, store, share and use personal information.</p>
        <p class="govuk-body">DevTracker uses open data published by UK government departments and partners, using the <a href="https://iatistandard.org/" class="govuk-link">International Aid Transparency Initiative (IATI) standard</a>. IATI is an international standard for international development data and allows ready comparison of information from different donors.</p>
        <p class="govuk-body">Each organisation is responsible for its own published IATI data and DevTracker will reflect public data available in the IATI Registry.</p>
        <h2 class="govuk-heading-m">What information we collect about you and how </h4>
        <p class="govuk-body">We collect information about how you use the DevTracker website to help us improve the site and make sure it is meeting the needs of its users. We collect information on:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>The pages you visit</li>
            <li>How long you spend on each page</li>
            <li>How you got to the site</li>
            <li>What you click on while you are visiting the site</li>
            <li>How you interact with a page</li>
            <li>Your Internet Protocol (IP) address</li>
        </ul>
        <h2 class="govuk-heading-m">How we use your information</h4>
        <p class="govuk-body">We collect anonymised information through Google Analytics and Hotjar to help:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>Make sure the site is meeting the needs of its users</li>
            <li>Make improvements to the website</li>
        </ul>
        <p class="govuk-body">More details about the information we collect is available in our <a href="https://devtracker.fcdo.gov.uk/cookies" class="govuk-link">Cookies policy</a>. This includes information on how to remove yourself from tracking.</p>
        <h2 class="govuk-heading-m">Why we collect personal information about you</h4>
        <p class="govuk-body">We collect personal data for the purposes of ensuring DevTracker works as intended providing an optimal experience for the user. </p>
        <h2 class="govuk-heading-m">Who we share your information with and why</h4>
        <p class="govuk-body">We use cookies through software (Google Analytics and Hotjar) to collect information. We do not store your personal information through Google Analytics or Hotjar (for example, your name or address). We do not allow Google Analytics or Hotjar to use or share data about how you use the site. We will not identify you through analytics information, and we will not combine analytics information with other datasets in a way that would identify who you are.</p>
        <p class="govuk-body">There may be other circumstances in which we may lawfully share your data with third parties. For example, we may be required to do so by law, by court order, or to prevent fraud or other crimes. Where we share data, however, we shall do so in accordance with applicable data protection laws.</p>
        <h2 class="govuk-heading-m">Our lawful basis for processing</h2>
        <p class="govuk-body">Processing is carried out under the lawful basis of consent.</p>
        <p class="govuk-body">We will only use your personal information for the purposes for which we collected it, unless we reasonably consider that we need to use it for another reason and that reason is compatible with the original purpose. If we need to use your personal information for an unrelated or new purpose, we will notify you and we will explain the legal basis which allows us to do so.</p>
        <h2 class="govuk-heading-m">How long we keep your personal information for</h2>
        <p class="govuk-body">We will only retain your website analytics data for 12 months, after which it will be deleted.  Your personal data will be destroyed securely in line with <a href="https://www.gov.uk/government/publications/foreign-commonwealth-development-office-fcdo-retention-schedule/fcdo-records-retention-and-disposal-policy" class="govuk-link">our retention schedule</a></p>
        <h2 class="govuk-heading-m">Your rights</h2>
        <p class="govuk-body">There are 8 rights that you have when the FCDO is using your personal information.. If you have any questions about these rights, you can contact the Data Protection Officer for more information.</p>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://ico.org.uk/for-organisations/uk-gdpr-guidance-and-resources/individual-rights/individual-rights/right-to-be-informed/" class="govuk-link">Right to be informed</a> - You have the right to be informed about what we do with your personal data, which is the purpose of this Privacy Notice</li>
            <li><a href="https://ico.org.uk/for-organisations/uk-gdpr-guidance-and-resources/individual-rights/individual-rights/right-of-access/" class="govuk-link">Right of access</a> - You have the right to request a copy of any personal information we hold about you and what we do with it. This is known as a Subject Access Request. You can make a request by emailing <a href="mailto:information.rights@fcdo.gov.uk" class="govuk-link">information.rights@fcdo.gov.uk</a></li>
            <li><a href="https://ico.org.uk/for-organisations/uk-gdpr-guidance-and-resources/individual-rights/individual-rights/right-to-rectification/" class="govuk-link">Right to rectification</a> - You have the right to request that any inaccurate personal data we hold is corrected or have incomplete personal information completed</li>
            <li><a href="https://ico.org.uk/for-organisations/uk-gdpr-guidance-and-resources/individual-rights/individual-rights/right-to-erasure/" class="govuk-link">Right to erasure</a> - You have the right to request that your personal data is erased. This only applies in certain circumstances</li>
            <li><a href="https://ico.org.uk/for-organisations/uk-gdpr-guidance-and-resources/individual-rights/individual-rights/right-to-restrict-processing/" class="govuk-link">Right to restrict processing</a> - You have the right to request that we limit the use of your personal data. This only applies in certain circumstances</li>
            <li><a href="https://ico.org.uk/for-organisations/uk-gdpr-guidance-and-resources/individual-rights/individual-rights/right-to-data-portability/" class="govuk-link">Right to data portability</a> - You have the right to move, copy or transfer personal information from one IT system to another in a safe and secure way This right only applies to certain information in certain circumstances</li>
            <li><a href="https://ico.org.uk/for-organisations/uk-gdpr-guidance-and-resources/individual-rights/individual-rights/right-to-object/" class="govuk-link">Right to object</a> - You have the right to object to the use of your information, which means that we would have to stop using your personal information. This right only applies to certain information in certain circumstances</li>
            <li><a href="https://ico.org.uk/for-organisations/uk-gdpr-guidance-and-resources/individual-rights/individual-rights/rights-related-to-automated-decision-making-including-profiling/" class="govuk-link">Rights related to automated decision making including profiling</a> - If a decision is being made without human involvement in the decision making, you have the right to challenge and request a review of any decisions made</li>
        </ul>
        <p class="govuk-body">See the ICO's <a href="https://ico.org.uk/for-organisations/uk-gdpr-guidance-and-resources/individual-rights/individual-rights/" class="govuk-link">guide to individual rights</a> for more detail.</p>
        <p class="govuk-body">When making a request to exercise any of these rights, please include your full name, up-to-date contact details and the date of your request. If you are making a Subject Access Request, please include a comprehensive list of what personal data you want to access, including any relevant dates or search criteria to help us identify what you want.</p>
        <h2 class="govuk-heading-m">How to contact us</h2>
        <p class="govuk-body">If you have any questions about this notice, consider that your personal data has been misused or mishandled, or would like to exercise any of your rights, you can contact the Data Protection Officer at the Foreign, Commonwealth and Development Office:</p>
        <p class="govuk-body">
            <span class="govuk-!-font-weight-bold">Data Protection Officer</span> <br>
            Foreign, Commonwealth & Development Office <br>
            King Charles Street <br>
            London <br>
            SW1A 2AH <br>
        </p>
        <p class="govuk-body">
            <span class="govuk-!-font-weight-bold">Email:</span> <a href="mailto:Data.Protection@fcdo.gov.uk" class="govuk-link">Data.Protection@fcdo.gov.uk</a>
        </p>
        <h2 class="govuk-heading-m">How to make a complaint</h2>
        <p class="govuk-body">You may also make a complaint to the Information Commissioner, who is an independent regulator. The Information Commissioner can be contacted at:</p>
        <p class="govuk-body">
            <span class="govuk-!-font-weight-bold">Information Commissioner's Office</span> <br>
            Wycliffe House<br>
            Water Lane<br>
            Wilmslow<br>
            Cheshire SK9 5AF<br>
        </p>
        <p class="govuk-body">To make a complaint, please visit the <a href="https://ico.org.uk/make-a-complaint/" class="govuk-link">ICO website</a>, select “Make a complaint” from the menu options on the home screen banner, and follow the complaints process.</p>
        <h2 class="govuk-heading-m">Changes to this notice</h2>
        <p class="govuk-body">We encourage you to reread this Privacy Notice occasionally as we aim to update it regularly, to keep you fully informed about how we use your personal information. This Privacy Notice was last updated on 31 December 2025.</p>
    </div>
<div>