<!-- ---
title: Development Tracker
--- -->
<div class="hero resize-static-headers">
    <div id="page-title" class="row">
        <div class="twelve columns">
            <img src="/images/cw_ukaid_logo.png" alt="UK aid from the British people">
            <div>
                <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/">Home</a></li>
                    <li class="govuk-breadcrumbs__list-item" aria-current="page">Cookies</li>
                </ol>
            </div>
                <h1>Cookies</h1>
            </div>
        </div>
    </div>
</div>
<div class="row cookies">
    <div class="twelve columns">
        <h4>Cookies on DEVTRACKER.FCDO.GOV.UK</h4>
        <p>Cookies are files saved on your phone, tablet or computer when you visit a website.</p>
        <p>We use cookies to store information about how you use the devtracker.fcdo.gov.uk website, such as the pages you visit.</p>
        <h4>Cookie Settings</h4>
        <p>We use one type of cookie. You can choose whether you are happy for us to use this type of cookie.</p>
        <h4>Cookies that measure website use</h4>
        <p>We use Google Analytics and Hotjar to measure how you use the website so we can improve it based on user needs. Google Analytics and SiteImprove set cookies that store anonymised information about:</p>
        <ul>
            <li>How you got to the site</li>
            <li>The pages you visit on devtracker.fcdo.gov.uk and how long you spend on each page</li>
            <li>What you click on while you are visiting the site</li>
            <li>The way in which you interact with a page</li>
        </ul>
        <p>We do not allow Google or Hotjar to use or share the data about how you use this site. For further details, please see <a target="_BLANK" href="https://policies.google.com/privacy">Google Privacy Policy</a> and <a target="_BLANK" href="https://www.hotjar.com/privacy">Hotjar's Privacy Policy</a></p>
        <div id="cookieDiv2" style="display: none;">
            <input value="1" type="radio" name="cookieState" id="c1">
            <label style="display: inline;" for="c1">On</label>
            <input value="0" type="radio" name="cookieState" id="c2">
            <label style="display: inline;" for="c2">Off</label>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        function clearCookies2(){
            var cookies = document.cookie.split("; ");
            for (var c = 0; c < cookies.length; c++) {
                var d = window.location.hostname.split(".");
                while (d.length > 0) {
                    var cookieBase = encodeURIComponent(cookies[c].split(";")[0].split("=")[0]) + '=; expires=Thu, 01-Jan-1970 00:00:01 GMT; domain=' + d.join('.') + ' ;path=';
                    var p = location.pathname.split('/');
                    document.cookie = cookieBase + '/';
                    while (p.length > 0) {
                        document.cookie = cookieBase + p.join('/');
                        p.pop();
                    };
                    d.shift();
                }
            }
            Cookies.set('accept_cookie', 0, { expires: 90 });
        };

        function setCookie2(){
            Cookies.set('accept_cookie', 1, { expires: 90 });
            $.getScript("/javascripts/analytics.js")
        }

        if(Cookies.get('accept_cookie')){
            if(Cookies.get('accept_cookie') == 0){
                $('#c2').attr('checked',  true);
            }
            else if(Cookies.get('accept_cookie') == 1){
                $('#c1').attr('checked',  true);
            }
        }
        $('#cookieDiv2').show();
        $('#c1').click(function(){
            $('#c2').attr('checked',  false);
            setCookie2();
        });
        $('#c2').click(function(){
            $('#c1').attr('checked',  false);
            clearCookies2();
        });
    });
</script>
