---
title: Development Tracker
---

<div id="page-title" class="row">
    <div class="twelve columns">
        <img src="/images/ukaid_logo.png" alt="UK aid from the British people">
        <div>
            <div class="breadcrumb">
            <ul>
                <li><a href="/">Home</a></li>
                <li>Cookies</li>
            </ul>
        </div>
            <h1>Cookies</h1>
        </div>
    </div>
</div>

<div class="row cookies">
  <div class="twelve columns">
    <p>We sometimes place small data files on your computer. These are known as cookies. Most websites do this.</p>
    <p>They improve things by:</p>
    <ul>
        <li>remembering settings, so you don’t have to keep re-entering them whenever you visit a new page</li>
        <li>remembering information you’ve given (eg your postcode) so you don’t need to keep entering it</li>
        <li>measuring how you use the website so we can make sure it meets your needs</li>
    </ul>
    <p>Our cookies aren’t used to identify you personally. They’re just here to make the site work better for you. Indeed, you can manage and/or delete these small files as you wish.</p>
    <p>To learn more about cookies and how to manage them, visit AboutCookies.org. Or please read on to find out more about how and where we use cookies.</p>
    <h4>How we use cookies</h4>
    <p>The Development Tracker (aip) uses cookies in several places – we’ve listed each of them below with more details about why we use them and how long they will last.</p>
    <p>In most cases, we will let you know before we store a cookie on your computer by providing a message similar to this: sets a cookie.</p>
    <h4>First-party cookies</h4>
    <p>Website analytic providers such as Google Analytics set cookies to help accurately estimate the number of visitors to the website and volumes of usage.</p>
  </div>
</div>


