<!-- ---
published: true
title: Development Tracker
--- -->

<div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/">Home</a></li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">About</li>
    </ol>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">What is the Development Tracker?</h1>
        <p class="govuk-body">The Development Tracker allows you to find and explore detailed information on international development and humanitarian Programmes funded by the UK Government. The Development Tracker is managed by the <a href="https://gov.uk/fcdo" class="govuk-link" target="_blank">Foreign, Commonwealth and Development Office </a>(FCDO).</p>
        <p class="govuk-body">The tracker is built using open data published by UK Government and partners, using the <a href="https://iatistandard.org" class="govuk-link" target="_blank">International Aid Transparency Initiative (IATI) standard</a>. IATI is an international standard for international development data and allows ready comparison of information from different donors.</p>
        <p class="govuk-body">Because the site uses data published to an open standard (IATI), we can also import and use data from <a href="https://devtracker.fcdo.gov.uk/department" class="govuk-link">other parts of government responsible for Official Development Assistance (ODA)</a>. The site also incorporates data published by FCDO's delivery partners, starting at a small scale to prove the concept that aid can be traced through the delivery chain using open data. The <a href="/projects/GB-1-202035/summary" class="govuk-link" target="_blank">UK Aid Direct</a> example shows data published by a number of partners, and demonstrates the promise of this approach. Our goal is to be able to use open data to trace the delivery of aid from donor to beneficiary, helping to maximise aid effectiveness.</p>
        <p class="govuk-body">The site also shows mapping of international development Programmes at sub-national level, for example in <a href="/countries/BD/" class="govuk-link">Bangladesh</a> and <a href="/countries/NP/" class="govuk-link">Nepal</a>.</p>        
        <h2 class="govuk-heading-m">How often is Development Tracker updated?</h2>
        <p class="govuk-body">The IATI standard recommends that publishers update their data at least quarterly. FCDO updates IATI data monthly, usually on the last working day of the month, although other government departments and partners have different publication frequencies. Development Tracker is then updated around the start of each month, from all available data sources.</p>
        <p class="govuk-body">A small number of exclusions apply to sensitive information, based on the key principles of the UK's Freedom of Information Act.</p>        
        <h2 class="govuk-heading-m">Source code</h2>
        <p class="govuk-body">The source code for the Development Tracker is available on <a href="https://github.com/DFID/devtracker-from-api" class="govuk-link" target="_blank">GitHub</a> so that others can freely re-use or even contribute to the code. We want to give other organisations a good starting point in visualising their own data, and to encourage a community of innovative developers to build, share and re-use interesting software built on the data.</p>        
        <h2 class="govuk-heading-m">We welcome your feedback</h2>
        <p class="govuk-body">We would very much welcome your <a href="mailto:IATI-feedback@fcdo.gov.uk" class="govuk-link">comments on this site</a> and the future direction it should take.</p>        
    </div>
</div>