<!-- ---
published: true
title: Development Tracker
--- -->

<div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/">Home</a></li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">About</li>
    </ol>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">What is the Development Tracker?</h1>
        <p class="govuk-body">The Development Tracker allows you to find and explore detailed information on international development and humanitarian Programmes funded by the UK Government. The Development Tracker is managed by the <a href="https://gov.uk/fcdo" class="govuk-link" target="_blank">Foreign, Commonwealth and Development Office </a>(FCDO).</p>
        <p class="govuk-body">The tracker is built using open data published by UK Government and partners, using the <a href="https://iatistandard.org" class="govuk-link" target="_blank">International Aid Transparency Initiative (IATI) standard</a>. IATI is an international standard for international development data and allows ready comparison of information from different donors.</p>
        <p class="govuk-body">Because the site uses data published to an open standard (IATI), we can also import and use data from <a href="https://devtracker.fcdo.gov.uk/department" class="govuk-link">other parts of government responsible for Official Development Assistance (ODA)</a> as well as from the UK's delivery partners.</p>        
        <h2 class="govuk-heading-m">How can I download the data in Development Tracker?</h2>
        <p class="govuk-body">IATI data of any publisher worldwide is available directly via the IATI Datastore. For individual programmes in Development Tracker, IATI data can be downloaded in JSON format via the programme page. In addition, summary data for all FCDO programmes collectively is available in <a href="https://fcdo.iati.cloud/search/activity/?q=reporting_org_ref:GB-GOV-1&fl=iati_identifier,title_narrative_text,description_narrative_text,activity_date_iso_date,activity_date_type,activity_plus_child_aggregation_budget_value_gbp,location_name_narrative_text,location_point_pos,location.point.srsName&rows=80000&wt=csv" class="govuk-link" target="_blank">CSV format</a> detailing the title, description, budget, location and start and end dates - this data is published under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" class="govuk-link" target="_blank">Open Government Licence v3.0</a>. We continue to explore ways to further increase access to data in Development Tracker including collective programme information published by other government departments.</p>
        <h2 class="govuk-heading-m">How often is Development Tracker updated?</h2>
        <p class="govuk-body">The IATI standard recommends that publishers update their data at least quarterly. FCDO updates its IATI data monthly, usually in the last working week of the month, although other government departments and partners have different publication frequencies. Development Tracker is then updated around the start of each month, from all available data sources.</p>
        <p class="govuk-body">A small number of exclusions apply to sensitive information, based on the key principles of the UK's Freedom of Information Act.</p>
        <h2 class="govuk-heading-m">Guidance and FAQ on FCDO Data and Documents</h2>
        <p class="govuk-body">FCDO has produced a short guidance document explaining what information is accessible on DevTracker and how to access it, which can be <a href="/docs/Guidance-and-FAQ-on-FCDO-Data.docx">found here</a>. This includes answers to frequently asked questions to support individuals seeking to access data and documents relating to FCDO aid programmes.</p>
        <h2 class="govuk-heading-m">Source code</h2>
        <p class="govuk-body">The source code for the Development Tracker is available on <a href="https://github.com/DFID/devtracker-from-api" class="govuk-link" target="_blank">GitHub</a> so that others can freely re-use or even contribute to the code. We want to give other organisations a good starting point in visualising their own data, and to encourage a community of innovative developers to build, share and re-use interesting software built on the data.</p>        
        <h2 class="govuk-heading-m">We welcome your feedback</h2>
        <p class="govuk-body">We would very much welcome your <a href="mailto:IATI-feedback@fcdo.gov.uk" class="govuk-link">comments on this site</a> and the future direction it should take.</p>
    </div>
</div>
