---
published: true
title: Development Tracker
---

<div id="page-title" class="row">
    <div class="twelve columns">
        <img src="/images/ukaid_logo.png" alt="UK aid from the British people">
        <div>
            <div class="breadcrumb">
            <ul>
                <li><a href="/">Home</a></li>
                <li>About</li>
            </ul>
        </div>
            <h1>
                About
            </h1>
        </div>
        
    </div>
</div>

<div class="row">
  <div class="twelve columns">
<h3>What is the Development Tracker?</h3>
<p>The Development Tracker allows you to find and explore detailed information on international development projects funded by the UK Government. The Development Tracker is managed by the <a href="https://gov.uk/dfid">Department for International Development</a> (DFID).</p>

<p>The tracker is built using open data published by UK Government and partners, using the <a href="http://iatistandard.org">International Aid Transparency Initiative (IATI) standard</a>. The IATI standard is an international standard for international development data and allows ready comparison of information from different donors.</p>

<p>Because the site uses data published to an open standard (IATI), we can also import and use data from other publishers. We are already using data provided by the Department of Energy and Climate Change (DECC), Home Office, Foreign and Commonwealth Office (FCO) and will be incorporating data from other UK government bodies as they publish their data to IATI.</p>

<p>The site also incorporates data published by DFID's delivery partners, initially on a small-scale to prove the concept that aid can be traced through the aid delivery chain using open data. The <a href="/projects/GB-1-202035/">Global Poverty Action Fund</a> example shows data published by a number of partners, and really shows the promise of this approach. Our goal is to be able to use open data to trace the delivery of aid from donor to beneficiary, helping to maximise aid effectiveness.</p>

<p>The site also shows mapping of international development projects at sub-national level, which has been carried out initially in <a href="/countries/BD/">Bangladesh</a> and in <a href="/countries/NP/">Nepal</a>.</p>

<h3>API and source code</h3>
<p>The site also contains an API (application programming interface) enabling developers to retrieve the data in JSON format. We want to develop more features for the API, so we welcome your feedback.</p>

<p>The source code for the Development Tracker is available at <a href="https://github.com/dfid">GitHub.com/dfid</a> so that others can freely re-use or even contribute to the code. We want to give other organisations a good starting point in visualising their own data, and encourage a community of innovative developers to build, share and re-use interesting software built on the data.</p>

<h3>We welcome your feedback</h3>
<p>We would very much welcome your <a href="/feedback">comments on this site</a> and the future direction it should take.</p>
  </div>
</div>
