<!-- ---
published: true
title: Development Tracker
--- -->
<div class="hero resize-static-headers">
    <div id="page-title" class="row">
        <div class="twelve columns">
            <img src="/images/cw_ukaid_logo.png" alt="UK aid from the British people">
            <div>
                <div class="breadcrumb">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li>What's New</li>
                </ul>
            </div>
                <h1>
                    What's New
                </h1>
            </div>
            
        </div>
    </div>
</div>
<div class="row">
  <div class="twelve columns">
    <h3>New Development Tracker architecture</h3>
    <p>We have updated the Development Tracker architecture to make use of an open public API (application programming interface) for data published in the the <a href="http://iatistandard.org">International Aid Transparency Initiative (IATI) standard</a>. The API used is a version of the <a href="http://dev.oipa.nl">OIPA API</a>.</p>

    <p>This API has access to all data referenced on the <a href="http://iatiregistry.org">IATI Registry</a>, including data from UK Government Departments. The API also makes it easier for us to include data from our NGO and Private Sector partners who publish data in IATI format, therefore improving the <strong>traceability</strong> of UK international development activities.</p>

    <p>The use of an open API will also make it easier for us to include new features as the IATI standard evolves and new fields become available.</p>

    <h3>New features</h3>
    <p>We have also taken the opportunity to make some incremental improvements to the site, particularly around how graphs are displayed on the country and project pages.</p>

    <p>We are still working to improve the search filtering following feedback from users.</p>

    <h3>Source code</h3>
    <p>The source code for this new version of Development Tracker is available on <a href="https://github.com/DFID/devtracker-from-api">GitHub</a> so that others can freely re-use or even contribute to the code.</p>

    <h3>We welcome your feedback</h3>
    <p>We would very much welcome your <a href="mailto:IATI-feedback@dfid.gov.uk">comments</a> on the recent change in architecture and any suggestions for future features on Development Tracker.</p>
  </div>
</div>
