<!-- ---
title: Development Tracker
--- -->

<div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/">Home</a></li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">What does this mean?</li>
    </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

  <h1 class="govuk-heading-l">What does this mean?</h1>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-a">
              A
            </span>
          </h2>
        </div>
        <div class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-a">
          <h2 class="govuk-heading-s">Activity</h2>
          <p class="govuk-body">Refers to aid activity being reported on, FCDO uses two levels, the higher Programme level and lower sub-programme for activities originally published by the Department for International Development, and one for those originally published by the Foreign and Commonwealth Office (FCO). Other government departments use a mix of hierarchical and non-hierarchical activities.</p>
          <h2 class="govuk-heading-s">Active Programme</h2>
          <p class="govuk-body">A Programme (activity) that is currently operational.</p>  
          <h2 class="govuk-heading-s">Actual spend to date</h2>
          <p class="govuk-body">This is the total amount of money (£) that has been spent on the Programme.
          Note: This figure has been rounded down to the nearest full pound.
          </p>                  
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-b">
              B
            </span>
          </h2>
        </div>
        <div class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-b">
          <h2 class="govuk-heading-s">Budget</h2>
          <p class="govuk-body">Budgets can be adjusted after approval the budget shows the revised total (£).
          Note: This figure has been rounded down to the nearest full pound. Please also note that cross-government allocations such as Prosperity Fund and Conflict, Stability and Security Fund are known to duplicate budgets published by other departments, as well as using multi-year budgets that show large budgets for the initial year in some visualisations.
          </p>

          <h2 class="govuk-heading-s">Budget spent to date</h2>
          <p class="govuk-body">This is the total amount of money (£) that has been spent on the Programme to date.
          Note: This figure has been rounded down to the nearest full pound.
          </p>                
        </div>
      </div>   
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-c">
              C
            </span>
          </h2>
        </div>
        <div class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-c">
          <h2 class="govuk-heading-s">Commitment</h2>
          <p class="govuk-body">A firm obligation to provide resources of a specified amount under specified financial terms and conditions and for specified purposes for the benefit of the recipient.</p>

          <h2 class="govuk-heading-s">Project reference</h2>
          <p class="govuk-body">The Project reference is a 3 digit suffix, unique within the Programme reference, for example GB-107369-101. Note that this applies to activities originally published by the Department for International Development. Other government departments use a mix of hierarchical and non-hierarchical activities.</p>

          <h2 class="govuk-heading-s">Country</h2>
          <p class="govuk-body">This is the country that benefits from the Programme.</p>

          <h2 class="govuk-heading-s">Country budget</h2>
          <p class="govuk-body">The total country budget relates to money identified as being spent solely in that specified country. Check regional and world programmes for other spend.</p>             
        </div>
      </div>    
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-d">
              D
            </span>
          </h2>
        </div>
        <div class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-d">
          <h2 class="govuk-heading-s">DAC</h2>
          <p class="govuk-body">The Development Assistance Committee (DAC, www.oecd.org/dac) is the principal body through which the OECD deals with issues related to co-operation with developing countries.</p>

          <h2 class="govuk-heading-s">FCDO financial year</h2>
          <p class="govuk-body">This shows the financial year for FCDO and is based on a 12 month duration from April to March the following calendar year. Note that other government departments might use calendar year for their financials.</p>

          <h2 class="govuk-heading-s">Disbursement</h2>
          <p class="govuk-body">The amount placed at the disposal of a recipient country or agency.</p>        
        </div>
      </div>    
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-e">
              E
            </span>
          </h2>
        </div>
        <div class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-e">
          <h2 class="govuk-heading-s">End date</h2>
          <p class="govuk-body">This is the actual or forecast end date of the Programme or Project.</p>
          <h2 class="govuk-heading-s">Expenditure</h2>
          <p class="govuk-body">Expenses incurred on goods and services by FCDO or other government departments.</p>         
        </div>
      </div>    
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-f">
              F
            </span>
          </h2>
        </div>
        <div class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-f">
          <h2 class="govuk-heading-s">Funding</h2>
          <p class="govuk-body">Money used to pay for a Programme.</p>           
        </div>
      </div>    
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-g">
              G
            </span>
          </h2>
        </div>
        <div class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-g">
          <h2 class="govuk-heading-s">Global</h2>
          <p class="govuk-body">Some FCDO Programmes are focused on a wider area and cannot be defined within the limits of a pre-defined country or region.</p>
          <h2 class="govuk-heading-s">Global spend</h2>
          <p class="govuk-body">Where a Programme has identified the recipient(s) as being neither a specific country nor a specific region, the Programme is considered a global Programme. Examples would be funding for multilateral agencies or for global initiatives. If a portion of the overall Programme budget is identified as being for a specific country, that portion of the budget will be included in the relevant country's budget.</p>                 
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-j">
              J
            </span>
          </h2>
        </div>
        <div class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-j">
          <h2 class="govuk-heading-s">Journal</h2>
          <p class="govuk-body">In a subset of FCDO’s financial system, a journal is a corrective transaction registered directly against the General Ledger (the General Ledger is a record of all relevant transactions that occur on this financial system, with information about income and expenditure, assets and liabilities).  Journals are registered to ensure that information held on the General Ledger accurately reflects the financial position of this line of business.</p>               
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-k">
              K
            </span>
          </h2>
        </div>
        <div class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-k">
          <h2 class="govuk-heading-s">Keyword search</h2>
          <p class="govuk-body">When the 'search' button is pressed, the keyword field searches for matches in the following fields: Programme Title, Programme Reference, Programme Purpose, Project Title, Project Reference, Location, Sector Group, Sector, Continent.</p>                
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-o">
              O
            </span>
          </h2>
        </div>
        <div class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-o">
          <h2 class="govuk-heading-s">Operational plan budget</h2>
          <p class="govuk-body">This is the total amount of money (£) quoted in the Country's Operational Plan that we plan to spend in the current financial year. The Operational Plan budget is only available for FCDO focus countries. Note: This figure has been rounded down to the nearest full pound. Further Note: this pertains to the Department for International Development, and so does not necessarily represent the combined business of FCDO after 1 September 2020.</p>                
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-p">
              P
            </span>
          </h2>
        </div>
        <div class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-p">
          <h2 class="govuk-heading-s">Programme</h2>
          <p class="govuk-body">A Programme can be defined as any activity that involves UK ODA expenditure. Programmes can have one or many Projects attached to them, against which actual expenditure is recorded.  Each Project is an activity. Note that this applies to a large subset of FCDO data, but not to all of it, and not to the data published by other government departments.</p>
          <h2 class="govuk-heading-s">Programme reference</h2>
          <p class="govuk-body">The Programme reference is a unique 6 digit number. For example, GB-1-107369. Note that this applies to activities originally published by the Department for International Development. Other government departments use different conventions for identifiers.</p>
          <h2 class="govuk-heading-s">Programme summary</h2>
          <p class="govuk-body">This gives more information about the aims of the Programme, such as why the Programme is/has been designed and authorised, what its purpose is, who will benefit and how it fits with donor's goals.</p>
          <h2 class="govuk-heading-s">Programme title</h2>
          <p class="govuk-body">This is a concise statement that identifies the Programme.</p>
        </div>
      </div>                                                       
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-r">
              R
            </span>
          </h2>
        </div>
        <div class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-r">
          <h2 class="govuk-heading-s">Region</h2>
          <p class="govuk-body">A region is an area, usually a grouping of countries for example a continent.  Funding can be focused on a specific country or a specific region.</p>
          <h2 class="govuk-heading-s">Regional spend</h2>
          <p class="govuk-body">Where Programme spend has been identified as happening in a recipient region, the Programme is considered a regional Programme.  However, if a portion of the overall Programme budget is identified as being country specific, that portion of the budget will be included in the relevant country's budget.</p>
        </div>
      </div>      
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-s">
              S
            </span>
          </h2>
        </div>
        <div class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-s">
          <h2 class="govuk-heading-s">Sector, sector group</h2>
          <p class="govuk-body">The sector of a contribution answers the question “which specific area of the recipient's economic or social structure is the transfer intended to foster”. A Programme can have up to multiple Sectors, which are displayed with percentage allocations that total up to 100%. A Sector Group is a grouping of like Sectors. A search on any selected Sector Group / Sector will bring back all Programmes that work within the relevant Sector criteria specified, regardless of size of the allocation.</p>
          <p class="govuk-body">If a Sector group and Sector are chosen as filters, the search will only return results if the Programme contains both the sector group and the sector. We do not currently display the Sector group/sector hierarchy on the search pages and are looking at this for a future release.</p>
          <p class="govuk-body">Note: The sector names presented here are fully consistent with the DAC sector classifications. However, as explained above the sectors published on this website are based on a multisectoral approach. In contrast, when donors report to the DAC, only one sector is reporterd per Programme Project (i.e. the one with the highest percentage). This is in line with DAC guidelines and ensures that all donors report consistently.</p>
        
          <h2 class="govuk-heading-s">Special conditions attached to funding</h2>
          <p class="govuk-body">FCDO has been publishing conditions documents since April 2010. A condition is an action, circumstance or situation which is required for committed aid to be disbursed. If a condition is not fulfilled it could lead to payments being delayed or suspended. Transparent conditions are essential for accountability to the UK Parliament and public, ensuring that aid is used effectively and for the purposes intended. Making conditions transparent is also important to support country ownership and strengthen domestic accountability of developing country governments to their people and parliaments. This field shows whether or not the Programme has any specific conditions attached to the pledge of aid. Note that as of January 2006, all Programme documents contain details of conditions under conditionality section 5.</p>
        
          <h2 class="govuk-heading-s">Stage</h2>
          <p class="govuk-body">This field indicates the current stage of the Programme.</p>
          
          <div class="govuk-!-margin-left-7">
            <p class="govuk-body"><span class="govuk-!-font-weight-bold govuk-!-display-block">Pipeline\identification</span> Allows funds to be earmarked for future use.</p>
            <p class="govuk-body"><span class="govuk-!-font-weight-bold govuk-!-display-block">Implementation</span>The Programme and budget has been approved and may be implemented.</p>
            <p class="govuk-body"><span class="govuk-!-font-weight-bold govuk-!-display-block">Completion</span>The Programme has reached its end date but may still have some active spend to be processed against it.</p>
            <p class="govuk-body"><span class="govuk-!-font-weight-bold govuk-!-display-block">Post-completion</span>The Programme is closed, no further spend activity can take place.</p>
          </div>

          <h2 class="govuk-heading-s">Start date</h2>
          <p class="govuk-body">This is the start date of the Programme or Project - users can search using the month and year combination or the year alone.</p>
        </div>
      </div>            
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-w">
              W
            </span>
          </h2>
        </div>
        <div class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-w">
            <h2 class="govuk-heading-s">What's it for</h2>
            <p class="govuk-body">These values are types of aid funding with a focus on who first receives the funds (excluding payment through Crown Agents Bank). Note that this section was written specifically for the business and operations of the Department for International Development (DFID), prior to the creation of the Foreign, Commonwealth & Development Office (FCDO). It was also written before DevTracker incorporated data published by other government departments. As such, it should be instructive of the ODA still carried out by FCDO, but not representative of all data published through DevTracker. References to DFID have been kept reflecting this.</p>
            <div class="govuk-!-margin-left-6">
                <h2 class="govuk-heading-s">Budget Support</h2>
                <p class="govuk-body">Budget support considers both General Budget Support (GBS) and Sector Budget Support (SBS). GBS is a general contribution to the overall budget. It aims to help implement the government's poverty reduction strategy in order to accelerate progress towards the Millennium Development Goals.The funds flow directly to partner governments and are pooled with their own funds. DFID funds cannot be identified separately from partner government funds so cannot be easily allocated to sectors. DFID uses a standardized methodology to notionally allocate GBS to sectors in the same proportions as the recipient Government allocated total resources to ODA (Official Development Assistance) eligible activity i.e. if a government intends to spend 25% of its budget on education,25% of GBS provided would be attributed to education. SBS is a contribution to the overall budget which primarily aims to achieve objectives within a particular sector either at national or sub national level. The SBS may be earmarked and may be transferred to a sector specific bank account over which government has financial authority. Where budget support is provided to a sub-national level of government to achieve a range of sector impacts it will be classified as SBS.</p>
              
                <h2 class="govuk-heading-s">Development bank replenishment </h2>
                <p class="govuk-body">Development Bank replenishments (or 'promissory notes') are a way of funding multilateral organisations where DFID 'deposits' funds with the Bank of England. Multilateral organisations then 'encash' these funds as they need them. On this website, you will see the deposits of these amounts, this is consistent with how DFID reports internationally to the OECD DAC.</p>

                <h2 class="govuk-heading-s">Emergency aid</h2>
                <p class="govuk-body">Until recently all Humanitarian Assistance fell under Emergency Aid, however in order to report more effectively it has been decided that Emergency Aid is only allocated to Programmes that are classified as Emergency situations only, which result from man-made crises or natural disasters e.g.
                </p>

                <h2 class="govuk-heading-s">Emergency food aid</h2>
                <p class="govuk-body">Food aid normally to general free distribution or special supplementary feeding programmes; short term relief to targeted population groups affected by emergency situations. This excludes non-emergency food security assistance programmes/food aid.</p>

                <h2 class="govuk-heading-s">Material relief assistance and service</h2>
                <p class="govuk-body">Shelter, water, sanitation and health services, supply of medicines and other non-food relief items, assistance to refugees and internally displaced people in developing countries other than for food or protection.</p>

                <h2 class="govuk-heading-s">Multilateral organisation</h2>
                <p class="govuk-body">Multilateral organisations can receive the following types of contributions:</p>
                <ol class="govuk-list govuk-list--number">
                  <li>
                    <span class="govuk-!-font-weight-bold govuk-!-display-block">Core compulsory contributions</span>
                    These are contributions which must be paid under certain agreements usually international.
                  </li>
                  <li>
                    <span class="govuk-!-font-weight-bold govuk-!-display-block">Core voluntary contributions</span>
                    These are contributions which are not legally required to be paid but are voluntary given to contribute to regular or non Programme specific costs of an institution.
                  </li>
                  <li>
                    <span class="govuk-!-font-weight-bold govuk-!-display-block">Non core voluntary contributions</span>
                    Are multilateral contributions which have a specific objective in mind, such as capacity building for the organisation, the provision of secondees to the multilateral organisation or support to individual country programmes.</li>
                </ol>

                <h2 class="govuk-heading-s">Not for profit organisation </h2>
                <p class="govuk-body">Grant to 'not for profit' organisations such as to NGO's and Civil Society (excluding contracts awarded to 'not for profit' organisations), for example:</p>
                <ol class="govuk-list govuk-list--number">
                  <li>Accountable Grants</li>
                  <li>Challenge Fund</li>
                  <li>Conflict Humanitarian Fund</li>
                  <li>Development Awareness Fund</li>
                  <li>Other bilateral donor</li>
                  <li>Partnership Programme Arrangements (PPA)</li>
                  <li>Strategic Grants</li>
                </ol>
                <p class="govuk-body">DFID can provide finance to other donors for shared development purposes, ways of working include Joint Programmes and Basket Funds, although this value is only used when DFID is working with another bilateral donor and the Programme does not fit into any of the other bilateral nature of funding types.</p>

                <h2 class="govuk-heading-s">Other financial aid to government</h2>
                <p class="govuk-body">capital of the recipient country including local and recurrent costs. A Programme can be identifiable as having ‘Other financial aid to government' funding if any of the four following issues can be identifiable:
                Detailed specification about what the funds can be used for. Detailed means below sub sector level and identifying budget heads or sub heads, goods or services. 
                Use of aid can be identified independently of other resources in the government's budget through the use of detailed account codes or by tracking to the level of goods or services it purchases. 
                The partner government can account for how the resources have been used by providing a separate Annual Audited Statement confirming that DFID's resources were used as intended. If necessary, DFID may use another independent audit process to obtain assurance about the annual statement of account produced by the partner government. 
                Funds are reimbursed on receipt of evidence of expenditure on eligible terms. </p>

                <h2 class="govuk-heading-s">Procurement of goods</h2>
                <p class="govuk-body">DFID procurement of goods (including any contracted through NGOs/CSOs) e.g. all equipment and supplies. </p>
                <h2 class="govuk-heading-s">Procurement of services</h2>
                <p class="govuk-body">DFID procurement of services (including any contracted through NGOs/CSOs) which includes actions relating to ‘Technical Cooperation'.</p>
                <h2 class="govuk-heading-s">Relief co-ordination; protection and support services</h2>
                <p class="govuk-body">Measures to co-ordinate delivery of emergency humanitarian aid, including logistics and communications systems; measures to promote and protect the safety, wellbeing, dignity and integrity of civilians and those no longer taking part in hostilities) Non-emergency food security assistance programmes/food aid and reconstruction relief and rehabilitation do NOT belong here; instead they are treated like any other bilateral/multilateral Programme, with the relevant sector group and sector information. </p>
        
            </div>
        </div>
      </div>                  
    </div>
  </div>
</div>