---
title: Development Tracker
---

<div id="page-title" class="row">
    <div class="twelve columns">
        <img src="/images/ukaid_logo.png" alt="UK aid from the British people">
        <div>
            <div class="breadcrumb">
            <ul>
                <li><a href="/">Home</a></li>
                <li>What does this mean?</li>
            </ul>
        </div>
            <h1>
                What does this mean?
            </h1>
        </div>
        
    </div>
</div>

<div class="row">
  <div class="two columns">
    <h2>A</h2>
  </div>
  <div class="ten columns glossary">
      <ul>
        <li>
          <h3>Activity</h3>
          <p>Refers to aid activity being reported on, DFID use two levels the higher project level and lower sub-project.</p>
        </li>
        <li>
          <h3>Active Project</h3>
          <p>A project (activity) that is currently operational.</p>
        </li>
        <li>
          <h3>Actual spend to date</h3>
          <p>This is the total amount of money (£) that has been spent on the project.
          Note: This figure has been rounded down to the nearest full pound.
          </p>
        </li>
      </ul>
  </div>
</div>

<div class="row">
  <div class="two columns">
    <h2>B</h2>
  </div>
  <div class="ten columns glossary">
      <ul>
        <li>
          <h3>Budget</h3>
          <p>Budgets can be adjusted after approval the budget shows the revised total (£).
          Note: This figure has been rounded down to the nearest full pound.
          </p>
        </li>
        <li>
          <h3>Budget spent to date</h3>
          <p>This is the total amount of money (£) that has been spent on the project to date.
          Note: This figure has been rounded down to the nearest full pound.
          </p>
        </li>
      </ul>
  </div>
</div>

<div class="row">
  <div class="two columns">
    <h2>C</h2>
  </div>
  <div class="ten columns glossary">
      <ul>
        <li>
          <h3>Commitment</h3>
          <p>A firm obligation to provide resources of a specified amount under specified financial terms and conditions and for specified purposes for the benefit of the recipient.</p>
        </li>
        <li>
          <h3>Component reference</h3>
          <p>The component reference is a 3 digit suffix, unique within the project reference, for example GB-107369-101.</p>
        </li>
        <li>
          <h3>Country</h3>
          <p>This is the country that benefits from the project.</p>
        </li>
        <li>
          <h3>Country budget</h3>
          <p>The total country budget relates to money identified as being spent solely in that specified country. Check our regional and world programmes for other spend.</p>
        </li>
     </ul>
  </div>
</div>

<div class="row">
  <div class="two columns">
    <h2>D</h2>
  </div>
  <div class="ten columns glossary">
      <ul>
        <li>
          <h3>DAC</h3>
          <p>The Development Assistance Committee (DAC, www.oecd.org/dac) is the principal body through which the OECD deals with issues related to co-operation with developing countries.</p>
        </li>
        <li>
          <h3>DFID financial year</h3>
          <p>This shows the financial year for DFID and is based on a 12 month duration from April to March the following calendar year.</p>
        </li>
        <li>
          <h3>Disbursement</h3>
          <p>The amount placed at the disposal of a recipient country or agency.</p>
        </li>
      </ul>
  </div>
</div>

<div class="row">
  <div class="two columns">
    <h2>E</h2>
  </div>
  <div class="ten columns glossary">
      <ul>
        <li>
          <h3>End date</h3>
          <p>This is the actual or forecast end date of the project or component.</p>
        </li>
        <li>
          <h3>Expenditure</h3>
          <p>Expenses incurred on goods and services by DFID.</p>
        </li>
      </ul>
  </div>
</div>

<div class="row">
  <div class="two columns">
    <h2>F</h2>
  </div>
  <div class="ten columns glossary">
      <ul>
        <li>
          <h3>Funding</h3>
          <p>Money used to pay for a project.</p>
        </li>
      </ul>
  </div>
</div>

<div class="row">
  <div class="two columns">
    <h2>G</h2>
  </div>
  <div class="ten columns glossary">
      <ul>
        <li>
          <h3>Global</h3>
          <p>Some DFID projects are focused on a wider area and cannot be defined within the limits of a pre-defined country or region.</p>
        </li>
        <li>
          <h3>Global spend</h3>
          <p>Where a project has identified the recipient(s) as being neither a specific country nor a specific region, the project is considered a global project. Examples would be funding for multilateral agencies or for global initiatives. If a portion of the overall project budget is identifed as being for a specific country, that portion of the budget will be included in the relevant country's budget.</p>
        </li>
      </ul>
  </div>
</div>

<div class="row">
  <div class="two columns">
    <h2>J</h2>
  </div>
  <div class="ten columns glossary">
      <ul>
        <li>
          <h3>Journal</h3>
          <p>In DFID’s financial system, a journal is a corrective transaction registered directly against the General Ledger (the General Ledger is a record of all DFID’s transactions that occur on our financial system, with information about income and expenditure, assets and liabilities).  Journals are registered to ensure that information held on the General Ledger accurately reflects the financial position of DFID.</p>
        </li>
      </ul>
  </div>
</div>

<div class="row">
  <div class="two columns">
    <h2>K</h2>
  </div>
  <div class="ten columns glossary">
      <ul>
        <li>
          <h3>Keyword search</h3>
          <p>When the 'search' button is pressed, the keyword field searches for matches in the following fields: Project Title, Project Reference, Project Purpose, Component Title, Component Reference, Location, Sector Group, Sector, Continent.</p>
        </li>
      </ul>
  </div>
</div>

<div class="row">
  <div class="two columns">
    <h2>O</h2>
  </div>
  <div class="ten columns glossary">
      <ul>
        <li>
          <h3>Operational plan budget</h3>
          <p>This is the total amount of money (£) quoted in the Country's Operational Plan that we plan to spend in the current financial year. The Operational Plan budget is only available for DFID focus countries. Note: This figure has been rounded down to the nearest full pound.</p>
        </li>
      </ul>
  </div>
</div>

<div class="row">
  <div class="two columns">
    <h2>P</h2>
  </div>
  <div class="ten columns glossary">
      <ul>
        <li>
          <h3>Project</h3>
          <p>A project can be defined as any activity that involves DFID expenditure. Projects can have one or many components attached to them, against which actual expenditure is recorded.  Each component is an activity.</p>
        </li>
        <li>
          <h3>Project reference</h3>
          <p>The project reference is a unique 6 digit number. For example, GB-1-107369.</p>
        </li>
        <li>
          <h3>Project summary</h3>
          <p>This gives more information about the aims of the project, such as why the project is/has been designed and authorised, what its purpose is, who will benefit and how it fits with DFID's goals.</p>
        </li>
        <li>
          <h3>Project title</h3>
          <p>This is a concise statement of 50 characters (including spaces) that identifies the project.</p>
        </li>
      </ul>
  </div>
</div>

<div class="row">
  <div class="two columns">
    <h2>R</h2>
  </div>
  <div class="ten columns glossary">
      <ul>
        <li>
          <h3>Region</h3>
          <p>A region is an area, usually a grouping of countries for example a continent.  DFID funding can be focused on a specific country or a specific region.</p>
        </li>
        <li>
          <h3>Regional spend</h3>
          <p>Where project spend has been identifed as happening in a recipient region, the project is considered a regional project.  However, if a portion of the overall project budget is identifed as being country specific, that portion of the budget will be included in the relevant country's budget.</p>
        </li>
      </ul>
  </div>
</div>

<div class="row">
  <div class="two columns">
    <h2>S</h2>
  </div>
  <div class="ten columns glossary">
      <ul>
        <li>
          <h3>Sector, sector group</h3>
          <p>The sector of a contribution answers the question “which specific area of the recipient's economic or social structure is the transfer intended to foster”. A project can have up to 8 Sectors, which are displayed with percentage allocations that total up to 100%. A Sector Group is a grouping of like Sectors. A search on any selected Sector Group / Sector will bring back all projects that work within the relevant Sector criteria specified, regardless of size of the allocation.</p>
          <p>If a Sector group and Sector are chosen as filters, the search will only return results if the project contains both the sector group and the sector. We do not currently display the Sector group/sector hierarchy on the search pages and are looking at this for a future release.</p>
          <p>Note: The sector names presented here are fully consistent with the DAC sector classifications. However, as explained above the sectors published on this website are based on DFID's multisectoral approach. In contrast, when DFID reports to the DAC, we only report one sector per project component (i.e. the one with the highest percentage). This is in line with DAC guidelines and ensures that all donors report consistently.</p>
        </li>
        <li>
          <h3>Special conditions attached to funding</h3>
          <p>DFID has been publishing conditions documents since April 2010. A condition is an action, circumstance or situation which is required for committed aid to be disbursed. If a condition is not fulfilled it could lead to payments being delayed or suspended. Transparent conditions are essential for accountability to the UK Parliament and public, ensuring that aid is used effectively and for the purposes intended. Making conditions transparent is also important to support country ownership and strengthen domestic accountability of developing country governments to their people and parliaments. This field shows whether or not the project has any specific conditions attached to the pledge of aid. Note that as of January 2006, all project documents contain details of conditions under conditionality section 5.</p>
        </li>
        <li>
          <h3>Stage</h3>
          <p>This field indicates the current stage of the project.</p>
          <ul>
            <li>Pipeline\identification – Allows funds to be earmarked for future use</li>
            <li>Implementation - The project and budget has been approved and may be implemented</li> 
            <li>Completion - The project has reached it’s end date, but may still have some active spend to be processed against it.</li>
            <li>Post-completion – the project is closed, no further spend activity can take place.</li>
          </ul>
        </li>
        <li>
          <h3>Start date</h3>
          <p>This is the start date of the project or component - users can search using the month and year combination or the year alone.</p>
        </li>
      </ul>
  </div>
</div>

  <div class="row">
    <div class="two columns">
      <h2>W</h2>
    </div>
    <div class="ten columns glossary">
        <ul>
          <li>
            <h3>What's it for</h3>
            <p>These values are types of aid funding with a focus on who first receives the funds (excluding payment through Crown Agents Bank).</p>
            <ul>
              <li>
                <h3>Budget Support</h3>
                <p>Budget support takes into account both General Budget Support (GBS) and Sector Budget Support (SBS). GBS is a general contribution to the overall budget. It aims to help implement the government's poverty reduction strategy in order to accelerate progress towards the Millennium Development Goals.The funds flow directly to partner governments and are pooled with their own funds. DFID funds cannot be identified separately from partner government funds so cannot be easily allocated to sectors. DFID uses a standardized methodology to notionally allocate GBS to sectors in the same proportions as the recipient Government allocated total resources to ODA (Official Development Assistance) eligible activity i.e. if a government intends to spend 25% of its budget on education,25% of GBS provided would be attributed to education. SBS is a contribution to the overall budget which primarily aims to achieve objectives within a particular sector either at national or sub national level. The SBS may be earmarked and may be transferred to a sector specific bank account over which government has financial authority. Where budget support is provided to a sub-national level of government to achieve a range of sector impacts it will be classified as SBS.</p>
              </li>
              <li>
                <h3>Development bank replenishment </h3>
                <p>Development Bank replenishments (or 'promissory notes') are a way of funding multilateral organisations where DFID 'deposits' funds with the Bank of England. Multilateral organisations then 'encash' these funds as they need them. On this website, you will see the deposits of these amounts, this is consistent with how DFID reports internationally to the OECD DAC.</p>
              </li>
              <li>
                <h3>Emergency aid</h3>
                <p>Until recently all Humanitarian Assistance fell under Emergency Aid, however in order to report more effectively it has been decided that Emergency Aid is only allocated to projects that are classified as Emergency situations only, which result from man-made crises or natural disasters e.g.
                </p>
              </li>
              <li>
                <h3>Emergency food aid</h3>
                <p>Food aid normally to general free distribution or special supplementary feeding programmes; short term relief to targeted population groups affected by emergency situations. This excludes non-emergency food security assistance programmes/food aid.</p>
              </li>
              <li>
                <h3>Material relief assistance and service</h3>
                <p>Shelter, water, sanitation and health services, supply of medicines and other non-food relief items, assistance to refugees and internally displaced people in developing countries other than for food or protection.</p>
              </li>
              <li>
                <h3>Multilateral organisation</h3>
                <p>Multilateral organisations can receive the following types of contributions:</p>
                <ol>
                  <li>Core compulsory contributions - These are contributions which must be paid under certain agreements usually international.</li>
                  <li>Core voluntary contributions - These are contributions which are not legally required to be paid but are voluntary given to contribute to regular or non project specific costs of an institution.</li>
                  <li>Non core voluntary contributions - Are multilateral contributions which have a specific objective in mind, such as capacity building for the organisation, the provision of secondees to the multilateral organisation or support to individual country programmes.</li>
                </ol>
              </li>
              <li>
                <h3>Not for profit organisation </h3>
                <p>Grant to 'not for profit' organisations such as to NGO's and Civil Society (excluding contracts awarded to 'not for profit' organisations), for example:</p>
                <ol>
                  <li>Accountable Grants</li>
                  <li>Challenge Fund</li>
                  <li>Conflict Humanitarian Fund</li>
                  <li>Development Awareness Fund</li>
                  <li>Other bilateral donor</li>
                  <li>Partnership Programme Arrangements (PPA)</li>
                  <li>Strategic Grants</li>
                </ol>
                <p>DFID can provide finance to other donors for shared development purposes, ways of working include Joint Programmes and Basket Funds, although this value is only used when DFID is working with another bilateral donor and the project does not fit into any of the other bilateral nature of funding types.</p>
              </li>
              <li>
                <h3>Other financial aid to government</h3>
                <p>capital of the recipient country including local and recurrent costs. A project can be identifiable as having ‘Other financial aid to government' funding if any of the four following issues can be identifiable:
                Detailed specification about what the funds can be used for. Detailed means below sub sector level and identifying budget heads or sub heads, goods or services. 
                Use of aid can be identified independently of other resources in the government's budget through the use of detailed account codes or by tracking to the level of goods or services it purchases. 
                The partner government can account for how the resources have been used by providing a separate Annual Audited Statement confirming that DFID's resources were used as intended. If necessary, DFID may use another independent audit process to obtain assurance about the annual statement of account produced by the partner government. 
                Funds are reimbursed on receipt of evidence of expenditure on eligible terms. </p>
              </li>
              <li>
                <h3>Procurement of goods</h3>
                <p>DFID procurement of goods (including any contracted through NGOs/CSOs) e.g. all equipment and supplies. </p>
              </li>
              <li>
                <h3>Procurement of services</h3>
                <p>DFID procurement of services (including any contracted through NGOs/CSOs) which includes actions relating to ‘Technical Cooperation'.</p>
              </li>
              <li>
                <h3>Relief co-ordination; protection and support services</h3>
                <p>Measures to co-ordinate delivery of emergency humanitarian aid, including logistics and communications systems; measures to promote and protect the safety, wellbeing, dignity and integrity of civilians and those no longer taking part in hostilities) Non-emergency food security assistance programmes/food aid and reconstruction relief and rehabilitation do NOT belong here; instead they are treated like any other bilateral/multilateral project, with the relevant sector group and sector information. </p>
              </li>
            </ul>
          </li>
        </ul>
    </div>
  </div>

