<!-- title: Development Tracker -->

<%= erb :'partials/_projects-header', :locals => { :project => project, :active => "partners"} %>
<div class="row">
  <div id="waiting" class="twelve columns" style="display: none;"><p style="text-align: center; padding: 15px;"><strong class="govuk-tag govuk-tag--yellow">Loading Data.. Please wait..</strong></p></div>
</div>
<div id="fundingProjects" class="row"></div>
<div id="fundedProjects" class="row"></div>


<script src="/javascripts/jquery-3.3.1.js" type="text/javascript"></script>
<script src="/javascripts/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="/javascripts/dataTables.buttons.min.js" type="text/javascript"></script>
<script src="/javascripts/buttons.flash.min.js" type="text/javascript"></script>
<script src="/javascripts/buttons.html5.min.js" type="text/javascript"></script>
<script src="/javascripts/buttons.print.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/buttons.dataTables.min.css">
<script type="text/javascript">
  var jq3 = jQuery.noConflict(true);
  jq3(document).ready(function() {
    jq3('.partner-tab').show();
    function isFCDOProj(project) {
      if(project.toLowerCase().search('gb-1') == 0 || project.toLowerCase().search('gb-gov-1') == 0 || project.toLowerCase().search('gb-gov-3') == 0) {
        return true;
      }
      else {
        return false;
      }
    }
    var projectID = "<%= project['iati_identifier'] %>";
    //Process for generating component details
    $('#waiting').slideDown('slow');
    jq3.get('/country-or-region/<%= project["iati_identifier"]%>')
    .done(function(response){
      if(response.projectType == 'country'){
        jq3('#countryOrRegion').html('<a class="govuk-breadcrumbs__link" href="'+response.output.breadcrumbUrl+'/">'+response.output.breadcrumbUrl+'</a>');
      }
    });
    function fundedProjects(isFirstTime,nextPage) {
      $('#waiting').slideDown('slow');
      if(isFirstTime) {
        jq3.get('/get-funded-projects-page/'+nextPage+'/'+projectID)
        .done(function(response){
          res = response.output['projectsByKeys'];
          var htmlString = '';
          if (Object.keys(res).length > 0) {
            if (isFCDOProj(projectID)){
              htmlString = htmlString + '<div id="fundedProjList" class="twelve columns results-info"><h3 class="section-group-title">Partner Programmes</h3>';
            }
            else {
              htmlString = htmlString + '<div id="fundedProjList" class="twelve columns results-info"><h3 class="section-group-title">Funded Programmes</h3>';
            }
            jq3.each(res, function(i, data){
              if(data.iati_identifier.toString() !=  projectID.toString()){
                var fp_reporting_org = '';
                var fp_title = '';
                var fp_description = '';
                try {
                  fp_reporting_org = data.reporting_org.narrative[0].text;
                }
                catch {
                  fp_reporting_org = 'N/A';
                }
                try {
                  fp_title = data.title.narrative[0].text;
                }
                catch {
                  fp_title = 'N/A';
                }
                try {
                  fp_description = data.description[0].narrative[0].text;
                }
                catch {
                  fp_description = 'N/A';
                }
                if (isFCDOProj(projectID)) {
                  htmlString = htmlString + '<div class="row"><div class="four columns summary"><h4>'
                  +fp_reporting_org+'</h4></div><div class="eight columns"><ul>' 
                  + '<li><a href="/projects/'
                  +encodeURI(data.iati_identifier)+'/summary">'
                  +fp_title+'</a>'
                  +fp_description
                  +'<span>Total Programme Budget: '
                  +data.total_project_budget + '</span>'+'<span>Total Funding: ' + data.total_funding + '</span></li></ul></div></div>';
                }
                else {
                  htmlString = htmlString + '<div class="row"><div class="four columns summary"><h4>'
                  +fp_reporting_org+'</h4></div><div class="eight columns"><ul>' 
                  + '<li><a href="/projects/'
                  +encodeURI(data.iati_identifier)+'/summary">'
                  +fp_title+'</a>'
                  +fp_description
                  +'<span>Total Programme Budget: '
                  +data.total_project_budget + '</span></li></ul></div></div>';
                }
              }
            });
            if(response.output['hasNext'] != null){
              htmlString = htmlString + '</div></div>'
              +'<div class="twelve columns"><button '
              +'id="fundedProjects_more" class="govuk-button" data-module="govuk-button"' 
              +'style="margin-top: 10px; float: right;">Load more</button>'
              +'<input id="fundedProjects_more_data" type="hidden" value="1" /></div>';
            }
            else {
              htmlString = htmlString + '</div></div>';
            }
            jq3('#fundedProjects').html(htmlString);
            jq3('#fundedProjects_more').click(function(){
                var p = parseInt(jq3('#fundedProjects_more_data').val()) + 1;
                jq3('#fundedProjects_more_data').val(p);
                fundedProjects(false,p);
            });
            $('#waiting').slideUp('slow');
          }
        });
      }
      else {
        $('#waiting').slideDown('slow');
        jq3.get('/get-funded-projects-page/'+nextPage+'/'+projectID)
        .done(function(response){
          res = response.output['projectsByKeys'];
          var htmlString = '';
          if (Object.keys(res).length > 0) {
            if(response.output['hasNext'] == null){
              jq3('#fundedProjects_more').hide();
            }
            jq3.each(res, function(i, data){
              if(data.iati_identifier.toString() !=  projectID.toString()){
                var fp_reporting_org = '';
                var fp_title = '';
                var fp_description = '';
                try {
                  fp_reporting_org = data.reporting_org.narrative[0].text;
                }
                catch {
                  fp_reporting_org = 'N/A';
                }
                try {
                  fp_title = data.title.narrative[0].text;
                }
                catch {
                  fp_title = 'N/A';
                }
                try {
                  fp_description = data.description[0].narrative[0].text;
                }
                catch {
                  fp_description = 'N/A';
                }
                if (isFCDOProj(projectID)) {
                  htmlString = htmlString + '<div class="row"><div class="four columns summary"><h4>'
                  +fp_reporting_org+'</h4></div><div class="eight columns"><ul>' 
                  + '<li><a href="/projects/'
                  +encodeURI(data.iati_identifier)+'/summary">'
                  +fp_title+'</a>'
                  +fp_description
                  +'<span>Total Programme Budget: '
                  +data.total_project_budget + '</span>'+'<span>Total Funding: ' + data.total_funding + '</span></li></ul></div></div>';
                }
                else {
                  htmlString = htmlString + '<div class="row"><div class="four columns summary"><h4>'
                  +fp_reporting_org+'</h4></div><div class="eight columns"><ul>' 
                  + '<li><a href="/projects/'
                  +encodeURI(data.iati_identifier)+'/summary">'
                  +fp_title+'</a>'
                  +fp_description
                  +'<span>Total Programme Budget: '
                  +data.total_project_budget + '</span></li></ul></div></div>';
                }
              }
            });
            jq3('#fundedProjList').append(htmlString);
            $('#waiting').slideUp('slow');
          }
        });
      }
    }
    function fundingProjects() {
      $('#waiting').slideDown('slow');
      jq3.get('/get-funding-projects-details/'+projectID)
        .done(function(response){
          res = response.output;
          var htmlString = '';
          if (res.length > 0) {
            var htmlString = '';
            // 2 divs open
            htmlString = htmlString + '<div class="row"><div class="twelve columns results-info"><h3 class="section-group-title">Funding Programme</h3>';
            jq3.each(res, function(i, data){
              htmlString = htmlString + '<div class="row"><div class="four columns summary">'
              + '<h4>'+data[2]+'</h4>'
              + '</div><div class="eight columns"><ul><li>'
              + '<a href="/projects/'+encodeURI(data[0])+'/summary">'+data[3]+'</a>' + data[4]
              + '<span>'+data[1]+'</span></li></ul></div></div>';
            });
            htmlString = htmlString + '</div></div>';
            jq3('#fundingProjects').html(htmlString);
          }
          $('#waiting').slideUp('slow');
        });
    }
    jq3.get('/transaction-count/<%= project["iati_identifier"]%>')
    .done(function(response){
      if(response.output > 0) {
          $('.transactions-tab').show();
      }
    })
    fundedProjects(true,1);
    fundingProjects();
  })
</script>