.app-card {
    background-color: $app-light-grey;
    padding: govuk-spacing(4);
    margin-bottom: govuk-spacing(4);

    &__intro {
        color: $govuk-secondary-text-colour;

        &--fixed-height {
            min-height: 60px;
        }
    }

    &-search {
        display: flex;
        margin: 0 0 govuk-spacing(6) 0;
        padding: 0;

        &-no-margin {
            margin-top: -20px;
        }

        &__image {
            display: none;
            width: 405px;
            margin-left: auto;
            margin-right: 10px;

            @include govuk-media-query($from: 992px) {
                display: block;
            }
        }

        &__input {
            flex-grow: 1;
            max-width: 590px;
            padding: 20px;
            margin-bottom: 0;

            @include govuk-media-query($from: tablet) {
                padding: govuk-spacing(4);
            }
        }
    }
}