.odd,
.even,
.sorting_1 {
    background-color: #fff !important;
}

table.dataTable th {
    color: $govuk-link-colour;
    text-align: left;
}

table.dataTable th.govuk-table__header--numeric {
    text-align: right;
}

table.dataTable th,
table.dataTable tbody th,
table.dataTable tbody td {
    padding: 10px 0 10px 0 !important;
    // text-align: left;
}

table.dataTable.row-border tbody th,
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td {
    border-top-color: $govuk-border-colour !important;
}

table.dataTable thead th,
table.dataTable thead td,
table.dataTable.no-footer {
    border-bottom-color: $govuk-border-colour !important;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none !important;
    position: relative;
    cursor: pointer;
}

table.dataTable thead .sorting span,
table.dataTable thead .sorting_asc span,
table.dataTable thead .sorting_desc span {
    position: relative;
}

table.dataTable thead .sorting_asc span::after,
table.dataTable thead .sorting_desc span::after {
    content: '';
    position: absolute;
    right: -20px;
    top: 2px;
    font-size: 11px;
}

table.dataTable thead .sorting span::before,
table.dataTable thead .sorting span::after {
    position: absolute;
    right: -20px;
    font-size: 10px;
    color: $govuk-border-colour;
}

table.dataTable thead .sorting span::before {
    content: "▼";
    top: -1px;
}

table.dataTable thead .sorting span::after {
    content: "▲";
    top: 7px;
}

table.dataTable thead .govuk-table__header--numeric.sorting_asc span,
table.dataTable thead .govuk-table__header--numeric.sorting_desc span,
table.dataTable thead .govuk-table__header--numeric.sorting span {
    padding-right: 20px;
}

table.dataTable thead .govuk-table__header--numeric.sorting_asc span::before,
table.dataTable thead .govuk-table__header--numeric.sorting_desc span::before,
table.dataTable thead .govuk-table__header--numeric.sorting_asc span::after,
table.dataTable thead .govuk-table__header--numeric.sorting_desc span::after,
table.dataTable thead .govuk-table__header--numeric.sorting span::before,
table.dataTable thead .govuk-table__header--numeric.sorting span::after {
    right: 0;
}

table.dataTable thead .sorting_asc span::after {
    content: "▲" !important;
}

table.dataTable thead .sorting_desc span::after {
    content: "▼";
}

.govuk-table__cell--numeric {
    padding-right: 0 !important;
}

.govuk-table__header--numeric>td {
    border-color: orange !important;
}

.govuk-table {

    th,
    td {
        font-size: 16px;
    }
}

.app-table__body--numeric td:last-child {
    text-align: right;
}