.app-aid-by {
    margin: govuk-spacing(4) 0 0 0;

    &-item {

        &__image {
            border: 1px solid $govuk-border-colour;
        }
    }
}

.app-homepage-notifications {
    margin-top: -40px;

    .govuk-notification-banner__content>* {
        max-width: 100%;
        font-size: 17px;
    }

    .govuk-details__text {
        padding-left: 0;
        border-left: none;
    }
}

.app-headline-stats {
    display: flex;
    flex-direction: column;
    // gap: 15px;
    margin: 0 0 govuk-spacing(7) 0;

    >div {
        display: flex;
        flex-direction: column;
        flex: 1;

        @include govuk-media-query($from: tablet) {
            gap: 30px;
        }

        @include govuk-media-query($from: 992px) {
            flex-direction: row;
        }

    }

    @include govuk-media-query($from: tablet) {
        flex-direction: row;
        gap: 30px;
    }

    &__link {
        display: block;
        margin: calc(0px - govuk-spacing(3));
        padding: govuk-spacing(3);
        text-decoration: none;
    }

    &__data {
        flex: 1;
        margin-top: govuk-spacing(3);
        padding: govuk-spacing(3);
        background-color: $app-light-grey;
        border-bottom: 1px solid $govuk-border-colour;

        @include govuk-media-query($from: tablet) {
            margin-top: 0;
        }

        &:hover {
            background-color: $govuk-brand-colour;

            span,
            h1 {
                color: #fff;
            }

        }

        &--value {
            margin-bottom: 0;

            // @include govuk-media-query($from: tablet) {
            //     margin-bottom: govuk-spacing(6);
            // }
        }
    }

    &__data--budget {
        background-color: $govuk-brand-colour;

        span,
        h1 {
            color: #fff;
        }

    }
}

.app-search-form {
    display: flex;
    flex-direction: column;

    &__textbox {
        display: flex;
    }

    &__button {
        margin-left: 5px;
        background-color: $govuk-link-colour;
        position: relative;
        border: none;
        padding: 20px;
        cursor: pointer;
        background-image: url(/assets/images/icon-search.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 20px 20px;

        &:focus-visible {
            background-color: $govuk-focus-colour;
            color: #000;
            background-image: url(/assets/images/icon-search-focus.svg);
        }
    }

    &__checkbox {
        margin-top: 10px;
    }
}

.app-top10-department {
    display: flex;

    &__name,
    &__spend {
        margin-bottom: 15px;
    }

    &__spend {
        font-weight: bold;
        margin-left: auto;
    }
}

.app-full-border {
    border: 1px solid govuk-colour("mid-grey");
}

.app-top-priorities {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include govuk-media-query($from: 992px) {
        flex-direction: row;
    }

    &__content {
        flex: 1;
        padding: govuk-spacing(4);
        margin-bottom: govuk-spacing(6);
        background-color: $app-light-grey;
    }

}

.app-things-we-do {
    display: block;

    &__chart {
        margin: auto auto 20px auto;
        width: 70%;
    }
}

.app-top-country {
    display: flex;
    margin-bottom: 25px;

    &__flag {
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }

    &__name {
        color: $govuk-secondary-text-colour;
        flex: 1;
    }

    &__budget {
        flex: 1;
        text-align: right;
    }

}


.chart-text {
    font-family: "GDS Transport",
        arial,
        sans-serif;
    fill: #000;
}

.chart-number {
    font-size: 0.3em;
    line-height: 1;
    text-anchor: middle;
    font-weight: bold;
}

.chart-label {
    font-size: 0.2em;
    text-transform: uppercase;
    text-anchor: middle;
}

// .chart-label-budget0,
// .chart-label-budget1,
// .chart-label-budget2,
// .chart-label-budget3,
// .chart-label-budget4,
// .chart-label-budget5,
// .chart-label-budget6,
// .chart-label-budget7,
// .chart-label-budget8,
// .chart-label-budget9 {
//     display: none;
// }

.chart-item-color0 {
    stroke: #A6CEE3;
    background: #A6CEE3;
}

.chart-item-color1 {
    stroke: #1D70B8;
    background: #1D70B8;
}

.chart-item-color2 {
    stroke: #B2DF8A;
    background: #B2DF8A;
}

.chart-item-color3 {
    stroke: #33A02C;
    background: #33A02C;
}

.chart-item-color4 {
    stroke: #FB9A99;
    background: #FB9A99;
}

.chart-item-color5 {
    stroke: #E31A1C;
    background: #E31A1C;
}

.chart-item-color6 {
    stroke: #FDBF6F;
    background: #FDBF6F;
}

.chart-item-color7 {
    stroke: #FF7F00;
    background: #FF7F00;
}

.chart-item-color8 {
    stroke: #16BCFA;
    background: #16BCFA;
}

.chart-item-color9 {
    stroke: #4D6881;
    background: #4D6881;
}

.chart-label-budget {
    display: none;
}

.app-figure-key {
    display: flex;
    flex-direction: row;
    gap: 5px;

    &__list {
        flex: 1;
        margin: 0;
        padding: 0;
    }

    span {
        display: block;
        width: 16px;
        min-width: 16px;
        height: 16px;
    }

    li {
        position: relative;
        display: flex;
        width: fit-content;
        font-size: 14px;
        gap: 7px;
        color: $govuk-secondary-text-colour;
        margin-bottom: 5px;

        &:hover {
            cursor: pointer;

            .app-figure-key--tooltip {
                visibility: visible;
            }
        }
    }

    &--tooltip {
        visibility: hidden;
        position: relative;
        width: 150px !important;
        background-color: rgba(0, 0, 0, 0.95);
        color: #fff;
        text-align: center;
        padding: 5px 0;
        position: absolute;
        right: -165px;
        top: -3px;
        z-index: 1;
        line-height: 16px;
        font-size: 14px;

        &::after {
            position: absolute;
            content: "";
            left: -14px;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-left: 8px solid transparent;
            border-right: 8px solid black;
        }

    }

    .chart-item-name {
        position: relative;
    }

}

.app-news {
    display: flex;
    gap: 30px;
    margin-bottom: govuk-spacing(7);

    &__article {
        border-bottom: 1px solid $govuk-border-colour;

        &--image {
            width: 100%;
            max-width: 400px;
            height: auto;
        }

        &--top-image {
            width: 100%;
            height: auto;
        }

    }

}