// Based on https://github.com/alphagov/govuk_publishing_components/blob/master/app/assets/stylesheets/govuk_publishing_components/components/_previous-and-next-navigation.scss
// Note - this code for prototype purposes only. It is not production code.

.app-pagination {
  display: block;
  margin: govuk-spacing(8) 0;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 5px;

    li {
      list-style: none;
      min-width: 25px;

      &.active {
        padding: 5px 0 5px 5px;
        font-weight: 600;

        .current {
          padding: 5px;
        }
      }

      .ellipse {
        font-weight: 600;
      }
    }
  }

  a {
    display: inline-block;
    text-align: center;
    @include govuk-font($size: 19);
    color: $govuk-link-colour;
    text-decoration: none;
    min-width: 25px;
    padding: 5px;

    &:hover,
    &:active,
    &:visited {
      color: $govuk-link-colour;
      background-color: none;
    }

    &:focus {
      @include govuk-focused-text;

      .app-pagination__link-title {
        border-top-color: transparent;
      }

      .app-pagination__link-icon {
        fill: $govuk-text-colour;
      }
    }
  }

  .prev {
    position: relative;

    &::before {
      border-width: 3px 0 0 3px;
      margin-right: 5px;
      display: inline-block;
      height: 10px;
      width: 10px;
      border-style: solid;
      color: #0b0c0c;
      background: rgba(0, 0, 0, 0);
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      content: "";
    }
  }

  .next {
    position: relative;

    &::after {
      border-width: 0 3px 3px 0;
      margin-left: 5px;
      display: inline-block;
      height: 10px;
      width: 10px;
      border-style: solid;
      color: #0b0c0c;
      background: rgba(0, 0, 0, 0);
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      content: "";
    }
  }
}

.app-pagination__link-title {
  display: block;
  border-top: 1px solid $govuk-border-colour;
  padding-top: govuk-spacing(3);
}

.app-pagination__link-divider {
  @include govuk-visually-hidden;
}

.app-pagination__link-text {
  @include govuk-font(19, $weight: bold);
  margin-left: govuk-spacing(2);
}

.app-pagination__link-icon {
  @include govuk-font($size: 24, $line-height: calc(33.75 / 27));
  display: inline-block;
  margin-bottom: 1px;
  height: .482em;
  width: .63em;
  fill: govuk-colour("dark-grey", $legacy: "grey-1");
}

.app-pagination__link-label {
  display: inline-block;
  margin-top: .1em;
  margin-left: govuk-spacing(5);
  @include govuk-link-decoration;

  @include govuk-media-query($from: tablet) {
    margin-left: govuk-spacing(6);
  }
}