.app-sectors {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    &--container {
        width: calc(100%);

        @media (min-width: 568px) {
            width: calc(50% - 15px);
        }

        @media (min-width: 1200px) {
            width: calc(25% - 25px);
        }
    }
}

.app-sector {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    border: 1px solid $govuk-border-colour;
}