$sector-color-opacity: 30;
$sector-border-width: 1px;

$sector-1-color: #f5212f;
$sector-2-color: #2690b0;
$sector-3-color: #1d70b8;
$sector-4-color: #fc4032;
$sector-5-color: #44567f;
$sector-6-color: #618625;
$sector-7-color: #1ab198;
$sector-8-color: #ca3f95;
$sector-9-color: #80224d;
$sector-10-color: #003078;
$sector-11-color: #10403c;
$sector-12-color: #586160;
$sector-14-color: #01a437;
$sector-15-color: #2f420a;
$sector-16-color: #d4351c;
$sector-18-color: #b58840;
$sector-19-color: #4c2c92;
$sector-22-color: #dbc021;
$sector: sector;
$color: color;

.app-sectors-v2 {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    &--container {
        display: flex;
        flex-direction: column;
        width: calc(100%);
        border: 1px solid $govuk-border-colour;

        @media (min-width: 568px) {
            width: calc(50% - 15px);
        }

        @media (min-width: 1200px) {
            width: calc(33.33% - 33px);
        }
    }
}

.app-sector-v2 {
    display: flex;
    flex-direction: row;


    &--icon {
        padding: 20px 10px;
        text-align: center;

        img {
            height: 50px;
            opacity: 0.5 !important;
        }
    }
}

.app-progress-bar-v2 {
    margin: 0 10px 20px;
}

.sector1 {
    background-color: #{$sector-1-color}#{$sector-color-opacity};
    border: $sector-border-width solid $sector-1-color;
}

.sector2 {
    background-color: #{$sector-2-color}#{$sector-color-opacity};
    border: $sector-border-width solid $sector-2-color;
}

.sector3 {
    background-color: #{$sector-3-color}#{$sector-color-opacity};
    border: $sector-border-width solid $sector-3-color;
}

.sector4 {
    background-color: #{$sector-4-color}#{$sector-color-opacity};
    border: $sector-border-width solid $sector-1-color;
}

.sector5 {
    background-color: #{$sector-5-color}#{$sector-color-opacity};
    border: $sector-border-width solid $sector-5-color;
}

.sector6 {
    background-color: #{$sector-6-color}#{$sector-color-opacity};
    border: $sector-border-width solid $sector-6-color;
}

.sector7 {
    background-color: #{$sector-7-color}#{$sector-color-opacity};
    border: $sector-border-width solid $sector-7-color;
}

.sector8 {
    background-color: #{$sector-8-color}#{$sector-color-opacity};
    border: $sector-border-width solid $sector-8-color;
}

.sector9 {
    background-color: #{$sector-9-color}#{$sector-color-opacity};
    border: $sector-border-width solid $sector-9-color;
}

.sector10 {
    background-color: #{$sector-10-color}#{$sector-color-opacity};
    border: $sector-border-width solid $sector-10-color;
}

.sector11 {
    background-color: #{$sector-11-color}#{$sector-color-opacity};
    border: $sector-border-width solid $sector-11-color;
}

.sector12 {
    background-color: #{$sector-12-color}#{$sector-color-opacity};
    border: $sector-border-width solid $sector-12-color;
}

.sector14 {
    background-color: #{$sector-14-color}#{$sector-color-opacity};
    border: $sector-border-width solid $sector-14-color;
}

.sector15 {
    background-color: #{$sector-15-color}#{$sector-color-opacity};
    border: $sector-border-width solid $sector-15-color;
}

.sector16 {
    background-color: #{$sector-16-color}#{$sector-color-opacity};
    border: $sector-border-width solid $sector-16-color;
}

.sector18 {
    background-color: #{$sector-18-color}#{$sector-color-opacity};
    border: $sector-border-width solid $sector-18-color;
}

.sector19 {
    background-color: #{$sector-19-color}#{$sector-color-opacity};
    border: 1px solid $sector-19-color;
}

.sector22 {
    background-color: #{$sector-22-color}#{$sector-color-opacity};
    border: $sector-border-width solid $sector-22-color;
}

.sector-meter1 {
    background-color: $sector-1-color;
}

.sector-meter2 {
    background-color: $sector-2-color;
}

.sector-meter3 {
    background-color: $sector-3-color;
}

.sector-meter4 {
    background-color: $sector-4-color;
}

.sector-meter5 {
    background-color: $sector-5-color;
}

.sector-meter6 {
    background-color: $sector-6-color;
}

.sector-meter7 {
    background-color: $sector-7-color;
}

.sector-meter8 {
    background-color: $sector-8-color;
}

.sector-meter9 {
    background-color: $sector-9-color;
}

.sector-meter10 {
    background-color: $sector-10-color;
}

.sector-meter11 {
    background-color: $sector-11-color;
}

.sector-meter12 {
    background-color: $sector-12-color;
}

.sector-meter14 {
    background-color: $sector-14-color;
}

.sector-meter15 {
    background-color: $sector-15-color;
}

.sector-meter16 {
    background-color: $sector-16-color;
}

.sector-meter18 {
    background-color: $sector-18-color;
}

.sector-meter19 {
    background-color: $sector-19-color;
}

.sector-meter22 {
    background-color: $sector-22-color;
}