<!-- ---
published: true
title: Development Tracker
--- -->
<div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/">Home</a></li>
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/press-releases">Press releases</a></li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">First UK maritime shipment of lifesaving aid for Gaza arrives in Egypt</li>
    </ol>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-caption-xl gem-c-title__context">
    Press release
  </span>
  <h1 class="govuk-heading-l">First UK maritime shipment of lifesaving aid for Gaza arrives in Egypt.</h1>

  <p class="govuk-body govuk-!-font-size-24">Lifesaving UK aid shipment for Gaza including thermal blankets and essential items delivered from Cyprus by Royal Fleet Auxiliary ship Lyme Bay.</p>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<img src="/assets/images/press-releases/press-release-1.jpg" class="app-news__article--image govuk-!-margin-bottom-2" alt="FCDO">
<p class="govuk-body-s govuk-!-margin-bottom-5">Royal Fleet Auxiliary ship Lyme Bay delivered 87 tonnes of UK and Cypriot aid at Port Said in Egypt for the people of Gaza.</p>

<p class="govuk-body">The first UK maritime shipment of aid for Gaza has arrived in Egypt, carrying almost 90 tonnes of thermal blankets and other essential items.</p>

<p class="govuk-body">The lifesaving shipment was delivered from Cyprus by Royal Fleet Auxiliary ship Lyme Bay, carrying thermal blankets, shelter packs and medical supplies provided by the UK and the Republic of Cyprus. From Port Said, the aid will be received by the Egyptian Red Crescent and will make its way to Al Arish and then through Rafah and into Gaza for distribution by UNRWA.</p>

<p class="govuk-body">It follows a <a href="https://www.gov.uk/government/news/uk-steps-up-humanitarian-aid-commitments-to-gaza" class="govuk-link">visit to Egypt from the Foreign Secretary to Al Arish last month</a> (21 December) to meet with representatives from the Egyptian Red Crescent Society, who are coordinating the relief effort at the Rafah crossing, and the <a href="https://www.gov.uk/government/news/defence-secretary-visits-israel-and-occupied-palestinian-territories-to-explore-options-to-boost-humanitarian-aid" class="govuk-link">Defence Secretary’s visit to Cyprus and Israel</a> on 7 December to push for accelerated aid deliveries into Gaza.</p>

<p class="govuk-body">The Foreign Secretary and Defence Secretary have made clear that Israel must increase the flow of aid into Gaza and facilitate the delivery of relief on the ground, including through negotiated humanitarian pauses. The UK will continue to explore other routes for aid deliveries, including the Cypriot initiative for a maritime corridor between Cyprus and Israel/<abbr title="Occupied Palestinian Territories">OPTs</abbr> and supporting United Nations World Food Programme through the humanitarian land corridor from Jordan through Kerem Shalom.</p>

    </div>
</div>

