<!-- ---
published: true
title: Development Tracker
--- -->
<div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/">Home</a></li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Press releases</li>
    </ol>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl gem-c-title__context">
    Stay update to date
  </span>
  <h1 class="govuk-heading-l">Press releases</h1>

<div class="app-news">
    <article class="app-news__article">
        <a href="/press-releases/01"><img src="/assets/images/press-releases/top-press-release.jpg" class="app-news__article--top-image govuk-!-margin-bottom-2" alt="FCDO"></a>
        <span class="govuk-caption-m">05 February 2024</span>
        <p class="govuk-body govuk-!-margin-top-2"><a href="#" class="govuk-link">Joint statement on strikes against Houthi military targets</a></p>
    </article>   
</div>

  <%= erb :'partials/_press-releases'%>  
    </div>
</div>

