<div class="hero">
    <div id="page-title" class="row">
        <div class="twelve columns">
            <img src="/images/cw_ukaid_logo.png" alt="UK aid from the British people">
            <div>
                <div class="govuk-breadcrumbs">
                    <ol class="govuk-breadcrumbs__list">
                        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/">Home</a></li>
                        <% if region[:type] == "Regional" then %>
                        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/location/regional">Aid by Location</a></li>
                        <% else %>
                        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/location/global">Aid by Location</a></li>
                        <% end %>
                        <li class="govuk-breadcrumbs__list-item" aria-current="page"><%= region[:name] %></li>
                    </ol>
                </div>
                <h1>
                    <% if region[:code] == '998' then%>
                        Global Projects
                    <%else%>
                        <%= region[:name] + " Region"%>
                    <%end%>
                </h1>
            </div>
        </div>
    </div>
    <%= erb :'partials/_regions-summary-tabs', :locals => { :active => "projects", :region => region, :project_count => total_projects} %>
</div>
<%= erb :'partials/_project_list', :locals => { :projects => projects, :oipa_api_url => oipa_api_url, :region => region, :project_count => total_projects, :countryAllProjectFilters => countryAllProjectFilters, :highLevelSectorList => highLevelSectorList, :oipa_api_url => oipa_api_url, :total_projects => total_projects, :budgetHigherBound => budgetHigherBound, :actualStartDate => actualStartDate, :plannedEndDate => plannedEndDate, :documentTypes => documentTypes, :implementingOrgTypes => implementingOrgTypes, :reportingOrgTypes => reportingOrgTypes } %>